{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

<section id="contact">
  <div class="container">
    <div class="box last">
      <div class="row">
        <div class="col-sm-6">
          <div class="status alert alert-success" style="display: none"></div>
          {# The email sending does not function right now #}
          <form id="main-contact-form" class="contact-form" name="contact-form" method="post" action="sendemail.php"
                role="form">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" required="required" placeholder="Name">
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group">
                  <input type="text" class="form-control" required="required" placeholder="Email address">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group">
                  <textarea name="message" id="message" required="required" class="form-control" rows="8"
                            placeholder="Message"></textarea>
                </div>
                <div class="form-group">
                  <button type="submit" class="btn btn-info btn-lg">Send Message</button>
                </div>
              </div>
            </div>
          </form>
        </div>
        <!--/.col-sm-6-->
        <div class="col-sm-6">
          <div class="map_container">
            <div id="map_canvas" class="map_canvas">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.980734847251!2d116.32617557354872!3d40.00887789505309!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x35f0542727d24205%3A0xfa956bc6734daf06!2sBuilding+No.31!5e0!3m2!1sen!2sus!4v1449386493948"
                     width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
          </div>
        </div>
        <!--/.col-sm-6-->
      </div>
      <!--/.row-->
    </div>
    <!--/.box-->
  </div>
  <!--/.container-->
</section>
<!--/#contact-->

{% endblock %}