{% extends 'portfolio/projects_list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block project_detail %}
<section id="project_footprint" class="project_detail">

  <section class="project-header">
    <div class="font-size-18 grey-4a" style="font-weight: 400;">
      DATA VISUALIZATION
    </div>
    <h1 class="grey-4a bold">Footprint: Monitor My Daily Routine</h1>
    <p>
    My hear is always in the work (CMU motto), but my body needs to go home...
    </p>
  </section>

  <section class="abstract-container" style="justify-content: center;">
    <div class="flexbox column" style="width: 80%;">
      <h4 style="font-weight: bold;">A Fact About CMU Students (Myself included)</h4>
      <p>
        How late do CMU students stay on campus? What is the average sleep time? 
      </p>
      <p>
        Earlier this year, I was helping Professor David Creswell from psychology department clean and visualize student data on lifestyle. They collected sleep data from 170 CMU first-year students across the spring semester 2017. The data showed that more than half of the students had at least stayed on campus until midnight for a few times, which is pretty common among my cohort too. But this is not the most impressive result. The data also showed that CMU students went to bed around 1:30 am on average and got up around 9:00 am - Perfectly 7.5 hours of sleep in a not-so-healthy way. And I realized I’ve been a typical example.
      </p>
    </div>
  </section>

  <div class="project-section">
    <h3>BACKGROUND</h3>
    <p>
      As we all know, life at CMU is hectic and full of hard work. Most of our time is either at home or campus. Also, a lot of people stay late and leave the campus at midnight, which is very unhealthy. We all want to change our lifestyle to a healthy pattern. However, we may not be aware of our daily life and find excuses for ourselves as "It will be the last time I go home this late." or "I will go out and relax a little bit this weekend." In most cases, it is no more than a placebo. So, in this project byte, I want to collect my location data for the whole month and monitor my daily activities. I hope to know my "footprints" in Pittsburgh regarding sequential geometry information, accumulated data, and data segments by the period during the day.
    </p>
    <p>
      The Footprint project is one of my ideas to monitor my lifestyle through phone sensors. I collected data like GPS, screen status, and motion, and analyse these data regularly to raise awareness of my unhealthy lifestyle. I will share some of my GPS data with you in the following section.
    </p>

    <h3>MY FOOT PRINTS</h3>
    <p>
      The first map shows the places I have been during the first month in spring. It is obvious that I have spent most of my time at home or campus. One exception is Feb. 4th. I went to spring sevens and spent a nice day snowboarding there. (zoom out to view the whole dataset)
    </p>

    <iframe width="100%" height="520" frameborder="0" src="https://tianxinyu.carto.com/builder/26cd942a-fbf0-11e6-b8bb-0ef24382571b/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

    <h3>TIME I SPENT</h3>
    <p>
      The following map shows my location data in different time segments during the day, from 8:00 am to 12:00 pm/ 0:00 am. If you choice the period from 10 pm to 12 pm,  you will find that about 1/3 of the days that I was at the campus. It is not that worse, actually, 
      probably better than your data? Still, the story would be different if we take samples from U Pitts as a reference.....LOL. 
    </p>

    <iframe width="100%" height="520" frameborder="0" src="https://tianxinyu.carto.com/builder/f5116e9a-fcb5-11e6-bcc4-0e3ebc282e83/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>  

    <h3>PLACES I STAY</h3>
    <p>
      The following map is a heat map that shows my accumulated location data. I cleaned out the snowboarding day to make this dataset more representative. The places I spend most of my time were my home, Gates, NSH, FMS building, and the bus stop.
      I assume that there would be a big red spot for the gym. However, I spent quite a lot time to find it ..... 
      <b>click the white circle to view!</b>
    </p>

    <iframe width="100%" height="640" frameborder="0" src="https://tianxinyu.carto.com/builder/f35be25e-fc8a-11e6-aba7-0e3ff518bd15/embed" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>


    <h3>REAL-TIME MONITOR</h3>
    <p> 
      Here is the real-time monitor of my location. There maybe some delay since I might not be able to sync my data to google cloud without wifi. 
      If you find me stay at campus at midnight, it would be nice to send me a message and push me go home....  
    </p>

    <div id="map" style="height: 500px; width: 100%;">
    </div>
    <script>
      function initMap() {
        var uluru = {
          lat: 37.3957033,
          lng: -121.9934743
        };
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 17,
          center: uluru
        });
        var infowindow = new google.maps.InfoWindow({
          content: new Date().toString()
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
        marker.addListener('click', function() {
          infowindow.open(map, marker);
        });
      }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCF-j-Dkk-k-yUcgYjThf1_J6Wy5wlItd8&callback=initMap">
    </script>
  </div>
</section>

<section id="project_footer">
  <div id="footer_container">
    <a href="{% url 'portfolio:projects_tune' %}">&larr; Prev Project</a>
    <a href="#project_detail">&uarr; Back to Top</a>
    <a href="{% url 'portfolio:projects_tune' %}">&rarr; Prev Project</a>
  </div>
</section>
{% endblock %}