{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}
<section id="index">
  <div class="container">
    <div class="box">
      <div class="row">
        <div class="col-sm-6 col-sm-offset-3 intro">
          <div class="hello">
            Hi, I am Tianxin Yu,
          </div>
          <div>
              An UX Researcher and designer with multidisplinary background in cognitive science and product design. I just graduated from Human Computer Interaction Institue at Carnegie Mellon University.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--/.container-->
</section>

<div class="flexbox center header">
  <div class="container">
    <div id="navbar" class="navbar navbar-default vertical-center">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav">
          <li><a href="{% url 'portfolio:index' %}">PORTFOLIO.</a></li>
          <li><a href="{% url 'portfolio:projects' %}">ABOUT ME.</a></li>
          <li><a href="{% url 'portfolio:research' %}">RESUME.</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<section id="selected_projects" class="grey_container">
  <div class="container">
      <div class="section_title">
        SELECTED PROJECTS.
      </div>

      <div class="portfolio_container">
        <div class="portfolio-item apps"> {# all the css classes other than portfolio-item are used for filtering #}
          {# The filters are in projects.html #}
          <div class="item-inner">
            <div class="portfolio-image">
              <a class="preview" href="{% url 'portfolio:projects_tune' %}">
                <img src="{% static 'portfolio/images/projects/capstone/cover.png' %}" alt="">
              </a>
            </div>
            <div class="divider green" ></div>
            <div class="project_title">
              <a class="preview" href="{% url 'portfolio:projects_tune' %}">
                <h5>EMPOWER TEACHERS WITH DATA</h5>
              </a>
              <p>
                UX Research &amp; Design | Learning Design | CUI
              </p>
            </div>
          </div>
        </div>
        <div class="portfolio-item apps"> {# all the css classes other than portfolio-item are used for filtering #}
          {# The filters are in projects.html #}
          <div class="item-inner">
            <div class="portfolio-image">
              <a class="preview" href="{% url 'portfolio:projects_tune' %}">
                <img src="{% static 'portfolio/images/projects/tune/cover.png' %}" alt="">
              </a>
            </div>
            <div class="divider yellow" ></div>
            <div class="project_title">
              <a class="preview" href="{% url 'portfolio:projects_tune' %}">
                <h5>MOTOR SKILLS TRAINNING FOR BLIND KIDS</h5>
              </a>
              <p>
                Product Design | HCI Research
              </p>
            </div>
          </div>
        </div>
        <div class="portfolio-item apps"> {# all the css classes other than portfolio-item are used for filtering #}
          {# The filters are in projects.html #}
          <div class="item-inner">
            <div class="portfolio-image">
              <a class="preview" href="{% url 'portfolio:projects_ethu' %}">
                <img src="{% static 'portfolio/images/projects/ethu/cover.png' %}" alt="">
              </a>
            </div>
            <div class="divider blue" ></div>
            <div class="project_title">
              <a class="preview" href="{% url 'portfolio:projects_ethu' %}">
                <h5>A CAMPUS INFORMATION PLATFORM</h5>
              </a>
              <p>
                Service Design | UX Research
              </p>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item apps"> {# all the css classes other than portfolio-item are used for filtering #}
          {# The filters are in projects.html #}
          <div class="item-inner">
            <div class="portfolio-image">
              <a class="preview" href="{% url 'portfolio:projects_tune' %}">
                <img src="{% static 'portfolio/images/projects/dataviz/cover.png' %}" alt="">
              </a>
            </div>
            <div class="divider teal" ></div>
            <div class="project_title">
              <a class="preview" href="{% url 'portfolio:projects_tune' %}">
                <h5>MONITORING STUDENTS' STRESS</h5>    
              </a>
              <p>
                Data Mining | Data Visualization | D3.
              </p>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item apps"> {# all the css classes other than portfolio-item are used for filtering #}
          {# The filters are in projects.html #}
          <div class="item-inner">
            <div class="portfolio-image">
              <a class="preview" href="{% url 'portfolio:projects_tune' %}">
                <img src="{% static 'portfolio/images/projects/donation/cover.png' %}" alt="">
              </a>
            </div>
            <div class="divider yellow_2" ></div>
            <div class="project_title">
              <a class="preview" href="{% url 'portfolio:projects_tune' %}">
                <h5>DONATIONS ON ONLINE COMMUNITIES</h5>
              </a>
              <p>
                Quantitative UX Research | Data Driven Design
              </p>
            </div>
          </div>
        </div>
        <!--/.portfolio-item-->
        <div class="portfolio-item apps"> {# all the css classes other than portfolio-item are used for filtering #}
          {# The filters are in projects.html #}
          <div class="item-inner">
            <div class= "more_projects">  
              <div style="font-size:36px">+ 3</div>
              <div class="item_list">
                <span>UX Evaluation Tool</span><br/>
                <span>Learning Design for Thinking Skills</span><br/>
                <span>UX Research for uReveal</span><br/>
              </div>
              <a class="view_more" href="{% url 'portfolio:projects_cmf' %}">
                VIEW MORE
              </a>  
            </div>
          </div>
        </div>
      </div>
      <!--/.box-->
  </div>

</section>

<section id="playground" class="dark_grey_container flexbox column">
  <div class="section_title">
    COOL IDEAS. <br />
    PLAYGROUND.
  </div>
  <div class="playground_container">
    <div class="pg1 pg_item">
      <img src="{% static 'portfolio/images/pixel.png' %}" >
      <div class="pg_title_container">
        <div class="pg_title">
          TREE ME
        </div>
        <div class="pg_desc">
          Self-growing system using possible selves
        </div>
      </div>
    </div>
    <div class="pg2 pg_item">
      <img src="{% static 'portfolio/images/pixel.png' %}" >
      <div class="pg_title_container">
        <div class="pg_title">
          LEARN PAR
        </div>
        <div class="pg_desc">
          Social learning for kids
        </div>
      </div>
    </div>
    <div class="pg3">
      <div class="pg3_1 pg_item">
        <img src="{% static 'portfolio/images/pixel.png' %}" >
        <div class="pg_title_container">
          <div class="pg_title">
            MY FOOTPRINTS
          </div>
        </div>
      </div>
      <div class="pg3_2 pg_item">
        <img src="{% static 'portfolio/images/pixel.png' %}" >
        <div class="pg_title_container">
          <div class="pg_title">
            CLIMATE MONITOR
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="research" class="grey_container">
  <div class="section_title">
    PREVIOUS RESEARCH.
  </div>
  <div class="research_container">
    <div class="portfolio-item apps">
      <div class="item-inner">
        <div class="portfolio-image">
          <a class="preview" href="{% url 'portfolio:projects_tune' %}">
            <img src="{% static 'portfolio/images/research/R1.png' %}" alt="">
          </a>
        </div>
        <div class="divider teal" ></div>
        <div class="project_title">
          <a class="preview" href="{% url 'portfolio:projects_tune' %}">
            <h5>MODELING ACADEMIC BURNOUT</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-item apps">
      <div class="item-inner">
        <div class="portfolio-image">
          <a class="preview" href="{% url 'portfolio:projects_tune' %}">
            <img src="{% static 'portfolio/images/research/R2.png' %}" alt="">
          </a>
        </div>
        <div class="divider teal" ></div>
        <div class="project_title">
          <a class="preview" href="{% url 'portfolio:projects_tune' %}">
            <h5>EMPOWER TEACHERS WITH DATA</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-item apps">
      <div class="item-inner">
        <div class="portfolio-image">
          <a class="preview" href="{% url 'portfolio:projects_tune' %}">
            <img src="{% static 'portfolio/images/research/R3.png' %}" alt="">
          </a>
        </div>
        <div class="divider teal" ></div>
        <div class="project_title">
          <a class="preview" href="{% url 'portfolio:projects_tune' %}">
            <h5>EMPOWER TEACHERS WITH DATA</h5>
          </a>
        </div>
      </div>
    </div>
    <div class="portfolio-item apps">
      <div class="item-inner">
        <div class="portfolio-image">
          <a class="preview" href="{% url 'portfolio:projects_tune' %}">
            <img src="{% static 'portfolio/images/research/R4.png' %}" alt="">
          </a>
        </div>
        <div class="divider teal" ></div>
        <div class="project_title">
          <a class="preview" href="{% url 'portfolio:projects_tune' %}">
            <h5>EMPOWER TEACHERS WITH DATA</h5>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<!--/#about-->
{% endblock %}
