{% extends 'portfolio/projects_list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block project_detail %}

  <section id="projects_list">
    <div class="container">
      <section class="slogan">
        <div class="row">
          <div class="col-sm-12">
            <span class="yellow">>></span> I Design for Good.
          </div>
        </div>
      </section>
      <div class="box">
        <div class="row">
          <div class="portfolio-item apps col-md-4 col-sm-6 col-xs-12"> {# all the css classes other than portfolio-item are used for filtering #}
            {# The filters are in projects.html #}
            <div class="item-inner">
              <div class="portfolio-image">
                <a class="preview" href="{% url 'portfolio:projects_tune' %}">
                  <img src="{% static 'portfolio/images/projects/tune/cover.jpg' %}" alt="">
                  <img src="{% static 'portfolio/images/projects/tune/cover_hover.jpg' %}" class="hover" alt="">
                </a>
              </div>
              <h5>TUNE</h5>
            </div>
          </div>
          <div class="portfolio-item apps col-md-4 col-sm-6 col-xs-12"> {# all the css classes other than portfolio-item are used for filtering #}
            {# The filters are in projects.html #}
            <div class="item-inner">
              <div class="portfolio-image">
                <a class="preview" href="{% url 'portfolio:projects_ethu' %}">
                  <img src="{% static 'portfolio/images/projects/ethu/cover.png' %}" alt="">
                  <img src="{% static 'portfolio/images/projects/ethu/cover_hover.png' %}" class="hover" alt="">
                </a>
              </div>
              <h5>E-THU</h5>
            </div>
          </div>
          <!--/.portfolio-item-->
          <div class="portfolio-item apps col-md-4 col-sm-6 col-xs-12"> {# all the css classes other than portfolio-item are used for filtering #}
            {# The filters are in projects.html #}
            <div class="item-inner">
              <div class="portfolio-image">
                <a class="preview" href="{% url 'portfolio:projects_learnpar' %}">
                  <img src="{% static 'portfolio/images/projects/learnpar/cover.png' %}" alt="">
                  <img src="{% static 'portfolio/images/projects/learnpar/cover_hover.png' %}" class="hover" alt="">
                </a>
              </div>
              <h5>LearnPar</h5>
            </div>
          </div>
          <!--/.portfolio-item-->
          <div class="portfolio-item apps col-md-4 col-sm-6 col-xs-12"> {# all the css classes other than portfolio-item are used for filtering #}
            {# The filters are in projects.html #}
            <div class="item-inner">
              <div class="portfolio-image">
                <a class="preview" href="{% url 'portfolio:projects_treeme' %}">
                  <img src="{% static 'portfolio/images/projects/treeme/cover.png' %}" alt="">
                  <img src="{% static 'portfolio/images/projects/treeme/cover_hover.png' %}" class="hover" alt="">
                </a>
              </div>
              <h5>TreeMe</h5>
            </div>
          </div>
          <!--/.portfolio-item-->
          <div class="portfolio-item apps col-md-4 col-sm-6 col-xs-12"> {# all the css classes other than portfolio-item are used for filtering #}
            {# The filters are in projects.html #}
            <div class="item-inner">
              <div class="portfolio-image">
                <a class="preview" href="{% url 'portfolio:projects_cmf' %}">
                  <img src="{% static 'portfolio/images/projects/cmf/cover.png' %}" alt="">
                  <img src="{% static 'portfolio/images/projects/cmf/cover_hover.png' %}" class="hover" alt="">
                </a>
              </div>
              <h5>CMF research tool</h5>
            </div>
          </div>
          <div class="portfolio-item apps col-md-4 col-sm-6 col-xs-12" style="display:none;"> {# all the css classes other than portfolio-item are used for filtering #}
            {# The filters are in projects.html #}
            <div class="item-inner">
              <div class="portfolio-image">
                <a class="preview" href="{% url 'portfolio:projects_ureveal' %}">
                  <img src="{% static 'portfolio/images/projects/uReveal/cover.png' %}" alt="">
                  <img src="{% static 'portfolio/images/projects/uReveal/cover_hover.png' %}" class="hover" alt="">
                </a>
              </div>
              <h5>User Research for uReveal</h5>
            </div>
          </div>
        </div>
      </div>
      <!--/.box-->
    </div>
    <!--/.container-->
  </section>
  <!--/#projects-->
{% endblock %}
