{% extends 'portfolio/projects_list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block project_detail %}

<!-- Resources -->
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/radar.js"></script>
<script src="https://www.amcharts.com/lib/3/pie.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/animate/animate.min.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>

<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />

<img src="{% static 'portfolio/images/projects/dataviz/header.png' %}" class="header_img" >
<img src="{% static 'portfolio/images/projects/dataviz/header.png' %}" class="header_img_shadow" >

<section id="project_dataviz" class="project_detail">
  <section class="project-header">
    <div class="font-size-18 grey-4a" style="font-weight: 400;">
      TELL FROM THE DATA
    </div>
    <h1 class="grey-4a bold">Monitoring Student Stress</h1>
    <p>Data Mining and VVisualization of the StudentLife Dataset.</p>
  </section>

  <section class="abstract-container">
    <div class="abstract-left">
      <h4>BACKGROUND</h4>
      <p>
        A large percentage of college students experience high stress levels. At CMU, more than 80% of students experienced overwhamleming during the spring semester 2017. High levels of stress of college students have the potential to undermine their mental and physical health. What factors can affect the stress level of college students? How can we monitor and predict student stress level and hence to help them proactive coping? To answer those questions, our team analyzed, visulizied, and built a machine learning prediction model based on StudentLife dataset.
      </p>
    </div>
    <div class="abstract-right">
      <div class="abstract-list">
        <h4>MY ROLE</h4> <span>&nbsp; 2017.02 - 2017.08</span>
        <ul>
          <li>Data Cleaning</li>
          <li>Data Mining and Visualization</li>
        </ul>
      </div>

      <div class="abstract-list">
        <h4>SKILLS</h4>
        <ul>
          <li>Matlab</li>
          <li>Wrangler | Weka</li>
          <li>Data Visualization with D3</li>
          <li>StoryTelling</li>
        </ul>
      </div>
    </div>
  </section>

  <div class="project-section">
    <div class="section-title-container">
      <div class="section-title-seq">
        1
      </div>
      <div class="section-title-right">
        <h2>PROJECT SUMMARY</h2>
        <div>The Problem and Our Goal</div>
      </div>
    </div>

    <h3>
      THE PROBLEM
    </h3>
    <p>
      A large percentage of college students experience high-stress levels. These high levels of stress of college students have the potential to undermine their mental and physical health. From a student’s perspective, a student may be aware of their stress status, but don't know the real factors causing stress. Also, a student might have knowledge of their own stress experience but is not exposed to the complexities of the experiences of our peers.    
    </p>

    <div class="quote-container">
      <div class="quote">
        "There are just too many factors that results in stress. It's hard to tell where to start"
      </div>
      <div class="author">
        -- A College Student on Stress Coping
      </div>
    </div>

    <p>
      How can we help students and people who care about them understand their stress status and the potential strategies for stress coping at an individual level?
    </p>
    <img src="{% static 'portfolio/images/projects/dataviz/cover.png' %}" class="img-responsive normal-img" style="margin-bottom: 48px;">

    <h3>
      OUR GOAL
    </h3>
    <p>
      We believe understanding and visualizing student behavior patterns related to stress can better inform students and associated stakeholders. We chose the StudentLife Dataset, which contains data collected from 48 undergraduate and graduate students at Dartmouth, to find common student patterns, form the stress model, and test our model that associated with high levels of stress.  For example, do students tend to sleep less and work out less when they report high levels of stress? Do students who self-claim as very anxious people report high levels of stress more often? What factors are likely to cause a student to be stressed? 
    </p>
    <p>
      Identifications and predictions of these factors would help students to be aware the impact of their personality and behavior patterns on their stress levels so that they can proactively adjust their behavior and seek help promptly. This effort can also allow university staff and health advocates to understand students' high-stress behaviors to offer support. Finally, this allows empathy: students can better identify and understand stress behaviors of their classmates.
    </p>
  </div>

  <div class="section-background" style="background-color: rgba(127, 205, 187, 0.1); margin-top: 64px;">
    <div class="project-section">
      <div class="section-title-container">
        <div class="section-title-seq">
          2
        </div>
        <div class="section-title-right">
          <h2>WHAT THE DATA SAY</h2>
          <div>Data Mining and Visualization</div>
        </div>
      </div>

      <img src="{% static 'portfolio/images/projects/dataviz/1.png' %}" class="img-responsive normal-img" style="margin: 48px 0;"/>
    </div>
  </div>

  <div class="project-section">
    <h3>ABOUT THE DATA</h3>
    <p>
      The StudentLife Dataset contains data collected from 48 undergraduate and graduate students at Dartmouth over the 10-week spring term. The dataset includes automatically sensed data, self-reported, and survey data to provide a holistic view of the day-to-day student experience, including sleep data, activity data, meals, academic performance data, location, and stress. 
    </p>
    <p>
      In the database, students’ stress levels were measured in two ways. Perceived Stress Scale (PSS) was used before and after the semester to evaluate students’ overall stress level. Students answered ten questions to finish to pre and post surveys. As for the second measurement, daily self-report of stress on a 5-point scale was used to measure and track students’ stress level throughout the whole semester. Students completed the task via their smartphone.
    </p>

    <h3>STRESS LEVEL</h3>

    <p>
      First, we wanted to learn about the distribution of students’ stress level before and after the term to get a general understanding of the how students are suffering from stress in Dartmouth College.
    </p>

    <p>
      We grouped students into low, medium, and high stress according to their PSS score.  According to Cohen’s description of the scale (1988), scores around 13 are considered average and scores of 20 or higher are considered high stress. Considering that college students might be more stressful than the average population. We adjust our criteria according to Cohen’s norm among people aging from 18-29 years old (N=645, mean = 14.2, SD =6.2). Students scored below 20.4 (Mean + 1* SD) are considered low stress. Scores between 20.4 and 26.6 are considered medium stress (Mean + 2* SD). Scores above 26.6 are considered in high stress. General results showed that:
    </p>

    <div class="bullet-point" style="font-weight: bold; font-size: 20px;">
      Most students in the dataset were highly stressful compared with the norm (general population). The general stress level did not change significantly across the time.
    </div>

    <div class="flexbox flex-center margin-top-big">
      <div class="flexbox flex-center left-right-layout" style="width: 100%;">
        <!-- Chart code -->
        <script>
        //Color codes for visual: #1F2945,#1DCB8B,#4E74FF,#FFFFFF light: BBE8A3
        var chart = AmCharts.makeChart("chartdiv",
        {
            "type": "serial",
            "titles": [{
                "text": "Stress Level After Semester",
                "size": 15
            }],
            "theme": "light",
            "dataProvider": [{
                "name": "Low Stress(%) ",
                "points": 13,
                "color": "#BBE8A3",
                "bullet": "https://www.shareicon.net/data/512x512/2016/06/15/781303_people_512x512.png"
            }, {
                "name": "Medium Stress(%) ",
                "points": 26,
                "color": "#1DCB8B",
                "bullet": "https://www.shareicon.net/data/2016/06/15/781277_people_512x512.png"
            }, {
                "name": "High Stress(%) ",
                "points": 61,
                "color": "#081147",
                "bullet": "http://icon-icons.com/icons2/680/PNG/512/nervous_icon-icons.com_60995.png"
            }],
            "valueAxes": [{
                "maximum": 100,
                "minimum": 0,
                "axisAlpha": 0,
                "dashLength": 0.2,
                "position": "left"

            }],



            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>",
                "bulletOffset": 10,
                "bulletSize": 52,
                "colorField": "color",
                "cornerRadiusTop": 8,
                "customBulletField": "bullet",
                "fillAlphas": 0.8,
                "lineAlpha": 0,
                "type": "column",
                "valueField": "points"
            }],

            "marginTop": 0,
            "marginRight": 0,
            "marginLeft": 0,
            "marginBottom": 0,
            "autoMargins": false,
            "categoryField": "name",
            "categoryAxis": {
                "axisAlpha": 0,
                "gridAlpha": 0,
                "inside": true,
                "tickLength": 0
            },
            "export": {
            "enabled": true
           }
        });
        </script>

        <!-- HTML -->
        <div id="chartdiv" class="left" style="height: 480px; width: 100%;"> </div>
        <div class="textbox right" style="padding-left: 10%; width: 100%;">
          <p>
            This graph shows the distribution of students in three stress level groups before the term. As the graph shows, most of the students were highly stressful even before the term began.
          </p>
        </div>
      </div>
    </div>


    <div class="flexbox flex-center margin-top-big">
      <div class="flexbox flex-center left-right-layout" style="width: 100%;">

        <!-- Chart code -->
        <script>
        //Color codes for visual: #1F2945,#1DCB8B,#4E74FF,#FFFFFF light: BBE8A3
        var chart = AmCharts.makeChart("chartdiv2",
        {
            "type": "serial",
            "titles": [{
                "text": "Stress Level After Semester",
                "size": 15
            }],
            "theme": "light",
            "dataProvider": [{
                "name": "Low Stress(%) ",
                "points": 10,
                "color": "#BBE8A3",
                "bullet": "https://www.shareicon.net/data/512x512/2016/06/15/781303_people_512x512.png"
            }, {
                "name": "Medium Stress(%) ",
                "points": 31,
                "color": "#1DCB8B",
                "bullet": "https://www.shareicon.net/data/2016/06/15/781277_people_512x512.png"
            }, {
                "name": "High Stress(%) ",
                "points": 59,
                "color": "#081147",
                "bullet": "http://icon-icons.com/icons2/680/PNG/512/nervous_icon-icons.com_60995.png"
            }],
            "valueAxes": [{
                "maximum": 100,
                "minimum": 0,
                "axisAlpha": 0,
                "dashLength": 0.2,
                "position": "left"

            }],



            "startDuration": 1,
            "graphs": [{
                "balloonText": "<span style='font-size:13px;'>[[category]]: <b>[[value]]</b></span>",
                "bulletOffset": 10,
                "bulletSize": 52,
                "colorField": "color",
                "cornerRadiusTop": 8,
                "customBulletField": "bullet",
                "fillAlphas": 0.8,
                "lineAlpha": 0,
                "type": "column",
                "valueField": "points"
            }],

            "marginTop": 0,
            "marginRight": 0,
            "marginLeft": 0,
            "marginBottom": 0,
            "autoMargins": false,
            "categoryField": "name",
            "categoryAxis": {
                "axisAlpha": 0,
                "gridAlpha": 0,
                "inside": true,
                "tickLength": 0
            },
            "export": {
              "enabled": true
             }
        });
        </script>

        <div class="textbox left" style="width: 100%;">
          <p>
            This graph shows the distribution of students in three stress level groups after the term. As the graph shows, the general distribution of stress level did not change by the end of the term. We do observe that a few students moved from low-stress group to medium stress group in the post-test, however, this change was not significant. One reason is that the PSS was not used as an event-related stress test, rather it reflects the general stress level of an individual across the time.
          </p>
        </div>
        <div id="chartdiv2" class="right" style="height: 480px; width: 100%;"> </div>
      </div>
    </div>

    <h3>TAKE A CLOSER LOOK</h3>

    <p>
      This heat map shows individual students' stress pattern over time. In this analysis, we want to monitor students’ daily stress level as well as compare their daily stress score with their PSS scores. We pick up a few representative students from the PSS score as examples. Student 32, 22, 49, 57 are among the lowest stress students. Student 16, 17, 33, 52 are among the most stress students. <strong>Click on the ID label to view details.</strong>
    </p>

    <iframe src="https://striking-shadow-167504.appspot.com/heatmap" class="img-responsive flex-center gap" 
      style="width: 600px; height: 500px; overflow: none;" frameBorder="0" scrolling="no" 
    ></iframe>

    <p>
      From our observation, the heat map shows that students’ stress level are both associated with their PPS score and their context (Day of Week and Week of Term). For example, Student 17 is severely stressful every day, he/she also scored high in PSS.  Student 22 and 32 seldom get stressful; they also scored low in PSS.
      For Student 33, who scored high in PSS , the second half of term is more stressful than the first half of the term. 
    </p>

    <p>
      Counter-intuitively, a student such as Student 57, though get a rather low score in the stress questionnaire (pre and post test), he/she still gets frequently stressed in the middle of the term. This indicates that besides personality, the context may also influence students' perceived stress level. Our observation indicated that:
    </p>

    <div class="bullet-point" style="font-weight: bold; font-size: 20px;">
      The change of stress level had huge individual differences and might be events relavant.
    </div>

    <p>
      Our furthur analysis showed that lifesytle, coursework, and personality were the factors that had significant contributions on stress.
    </p>


    <h3>LIFESTYLE AND COURSEWORK</h3>

    <p>
      After we dived into students' phone  sensor data and daily survey results, we found some interesting behaviors patterns. An early exploration showed that <string>students' activities changed across the time</string>.
    </p>

    <script>
    /**
     * Define data for each year
     */
    var chartData = {

      "1": [
      { "sector": "Stationary", "size": 14.7,"color":"#BBE8A3"},
        { "sector": "Walking", "size": 4.2,"color":"#555" },
        { "sector": "Running", "size": 2.4,"color":"#555" },
        { "sector": "unknown", "size": 1.4,"color":"#555" } ],

      "2": [
      { "sector": "Stationary", "size": 14.7,"color":"#555" },
        { "sector": "Walking", "size": 2.2,"color":"#555" },
        { "sector": "Running", "size": 1.0,"color":"#555" },
        { "sector": "unknown", "size": 1.4,"color":"#555" } ],

      "3": [
        { "sector": "Stationary", "size": 14.7,"color":"#555" },
        { "sector": "Walking", "size": 2.2,"color":"#555" },
        { "sector": "Running", "size": 0.8,"color":"#555" },
        { "sector": "unknown", "size": 1.4,"color":"#555" } ],
    };


    /**
     * Create the chart
     */
    var currentYear = 1;
    var chart = AmCharts.makeChart( "chartdiv3", {
      "type": "pie",
      "titles": [{
            "text": "Students' Activity from Phone sensors ",
            "size": 15
        }],
      "theme": "light",
      "dataProvider": [],
      "valueField": "size",
      "titleField": "sector",
      "startDuration": 0,
      "innerRadius": 80,
      "pullOutRadius": 20,
      "marginTop": 30,
      "titles": [{
        "text": "Students' activity"
      }],
      "allLabels": [{
        "y": "54%",
        "align": "center",
        "size": 25,
        "bold": true,
        "text": "1995",
        "color": "#555"
      }, {
        "y": "49%",
        "align": "center",
        "size": 15,
        "text": "Month",
        "color": "#555"
      }],
      "listeners": [ {
        "event": "init",
        "method": function( e ) {
          var chart = e.chart;

          function getCurrentData() {
            var data = chartData[currentYear];
            currentYear++;
            if (currentYear > 3)
              currentYear = 1;
            return data;
          }

          function loop() {
            chart.allLabels[0].text = currentYear;
            var data = getCurrentData();
            chart.animateData( data, {
              duration: 500,
              complete: function() {
                setTimeout( loop, 2000 );
              }
            } );
          }

          loop();
        }
      } ],
       "export": {
       "enabled": true
      }
    } );
    </script>

    <!-- HTML -->
    <div id="chartdiv3" style="height: 480px; width: 100%;"></div>

    <p>
      This graph shows the change of students’ activity during the term. Students’ activities were collected by smartphone sensors. Their activities were classified into four categories: Stationary, Walking, Running, and Unknown.  In this graph, we divided the whole term into 3 phases by months. The first month was the beginning of the term, the second month included the midterm weeks, and the third month included the final weeks. We can see that students’ walking and running time decreases in the second and third months compared with the first month, which indicates that they were less active as the term progressed. However, there was no evidence suggest that those activity changes were significantly associated with stress.
    </p>

    <p>
      Another exploration on students’ sleep time and coursework was more interesting.
    </p>

    <div class="bullet-point" style="font-weight: bold; font-size: 20px;">
      Number of deadlines and sleep hours were correlated. They were negitively associated with stress level.
    </div>

    <p><strong>Hover over the graph below to view details. </strong></p>

    <!-- Chart code -->
    <script>
    var chart = AmCharts.makeChart("chartdiv4", {
      "type": "serial",
      "theme": "light",
      "dataDateFormat": "MM/DD/YYYY",
      "precision": 2,
      "valueAxes": [{
        "id": "v1",
        "title": "Average Stress Level",
        "position": "left",
        "autoGridCount": false,
      
      },
       {
        "id": "v3",
        "title": "Average Sleep Hours",
        "gridAlpha": 0,
        "position": "right",
       "autoGridCount": false
      }
      ],
      
      
      
      
      "graphs": [  {
        "id": "g1",
        "valueAxis": "v1",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "bulletSize": 5,
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "lineColor": "#20acd4",
        "type": "smoothedLine",
        "title": "Average Stress Level",
        "useLineColorForBulletBorder": true,
        "valueField": "average_STRESS_CORRECTED",
        "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]]</b>"
      },
      {
        "id": "g3",
        "valueAxis": "v1",
        "lineColor": "#e1ede9",
        "fillColors": "#e1ede9",
        "fillAlphas": 1,
        "type": "column",
        "title": "Average Number of Deadlines",
        "valueField": "ddl",
        "clustered": false,
        "columnWidth": 0.5,
        "legendValueText": "[[value]]",
        "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]]</b>"
      }
      ,  {
        "id": "g3",
        "valueAxis": "v3",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "bulletSize": 5,
        "hideBulletsCount": 50,
        "lineThickness": 2,
        "lineColor": "#c1cdc9",
        "type": "smoothedLine",
        "title": "Average Sleep Hours",
        "useLineColorForBulletBorder": true,
        "valueField": "average_sleep_hours",
        "balloonText": "[[title]]<br /><b style='font-size: 130%'>[[value]]</b>"
      }
      ],
      
      
      "chartScrollbar": {
        "graph": "g2",
        "oppositeAxis": false,
        "offset": 30,
        "scrollbarHeight": 50,
        "backgroundAlpha": 0,
        "selectedBackgroundAlpha": 0.1,
        "selectedBackgroundColor": "#888888",
        "graphFillAlpha": 0,
        "graphLineAlpha": 0.5,
        "selectedGraphFillAlpha": 0,
        "selectedGraphLineAlpha": 1,
        "autoGridCount": true,
        "color": "#AAAAAA"
      },
      "chartCursor": {
        "pan": true,
        "valueLineEnabled": true,
        "valueLineBalloonEnabled": true,
        "cursorAlpha": 0,
        "valueLineAlpha": 0.2
      },
      "categoryField": "date",
      "categoryAxis": {
        "parseDates": true,
        "dashLength": 1,
        "minorGridEnabled": true
      },
      "legend": {
        "useGraphSettings": true,
        "position": "top"
      },
      "balloon": {
        "borderThickness": 1,
        "shadowAlpha": 0
      },
      "export": {
       "enabled": true
      },
      "dataProvider": 
      
      
      
     [
      {
        "date": "03/24/2013",
        "average_STRESS_CORRECTED": 3.745901639,
        "ddl": "",
        "average_sleep_hours": 8.4375
      },
      {
        "date": "03/25/2013",
        "average_STRESS_CORRECTED": 4,
        "ddl": "",
        "average_sleep_hours": 8
      },
      {
        "date": "03/26/2013",
        "average_STRESS_CORRECTED": 3.125,
        "ddl": "",
        "average_sleep_hours": 8
      },
      {
        "date": "03/27/2013",
        "average_STRESS_CORRECTED": 2.48,
        "ddl": 0.068181818,
        "average_sleep_hours": 7.388888889
      },
      {
        "date": "03/28/2013",
        "average_STRESS_CORRECTED": 2.85483871,
        "ddl": 0.068181818,
        "average_sleep_hours": 7.208333333
      },
      {
        "date": "03/29/2013",
        "average_STRESS_CORRECTED": 2.9,
        "ddl": 0.136363636,
        "average_sleep_hours": 7.038461538
      },
      {
        "date": "03/30/2013",
        "average_STRESS_CORRECTED": 2.823529412,
        "ddl": 0,
        "average_sleep_hours": 8.045454545
      },
      {
        "date": "03/31/2013",
        "average_STRESS_CORRECTED": 2.569230769,
        "ddl": 0.204545455,
        "average_sleep_hours": 7.714285714
      },
      {
        "date": "04/01/2013",
        "average_STRESS_CORRECTED": 2.925,
        "ddl": 0.25,
        "average_sleep_hours": 7.421052632
      },
      {
        "date": "04/02/2013",
        "average_STRESS_CORRECTED": 2.886792453,
        "ddl": 0.340909091,
        "average_sleep_hours": 7.117647059
      },
      {
        "date": "04/03/2013",
        "average_STRESS_CORRECTED": 2.755813953,
        "ddl": 0.113636364,
        "average_sleep_hours": 6.675675676
      },
      {
        "date": "04/04/2013",
        "average_STRESS_CORRECTED": 2.987179487,
        "ddl": 0.022727273,
        "average_sleep_hours": 7.4
      },
      {
        "date": "04/05/2013",
        "average_STRESS_CORRECTED": 2.896103896,
        "ddl": 0.181818182,
        "average_sleep_hours": 6.421052632
      },
      {
        "date": "04/06/2013",
        "average_STRESS_CORRECTED": 2.68627451,
        "ddl": 0,
        "average_sleep_hours": 7.947368421
      },
      {
        "date": "04/07/2013",
        "average_STRESS_CORRECTED": 2.816326531,
        "ddl": 0.204545455,
        "average_sleep_hours": 7.75
      },
      {
        "date": "04/08/2013",
        "average_STRESS_CORRECTED": 2.901639344,
        "ddl": 1.272727273,
        "average_sleep_hours": 7.129032258
      },
      {
        "date": "04/09/2013",
        "average_STRESS_CORRECTED": 2.73015873,
        "ddl": 0.318181818,
        "average_sleep_hours": 7.714285714
      },
      {
        "date": "04/10/2013",
        "average_STRESS_CORRECTED": 3.069767442,
        "ddl": 0.25,
        "average_sleep_hours": 6.958333333
      },
      {
        "date": "04/11/2013",
        "average_STRESS_CORRECTED": 2.829787234,
        "ddl": 0.113636364,
        "average_sleep_hours": 7
      },
      {
        "date": "04/12/2013",
        "average_STRESS_CORRECTED": 3.0625,
        "ddl": 0.295454545,
        "average_sleep_hours": 6.565217391
      },
      {
        "date": "04/13/2013",
        "average_STRESS_CORRECTED": 2.957446809,
        "ddl": 0,
        "average_sleep_hours": 8.173913043
      },
      {
        "date": "04/14/2013",
        "average_STRESS_CORRECTED": 3.333333333,
        "ddl": 0,
        "average_sleep_hours": 8.529411765
      },
      {
        "date": "04/15/2013",
        "average_STRESS_CORRECTED": 3.565217391,
        "ddl": 1.25,
        "average_sleep_hours": 6.72
      },
      {
        "date": "04/16/2013",
        "average_STRESS_CORRECTED": 3.204081633,
        "ddl": 0.363636364,
        "average_sleep_hours": 7.15
      },
      {
        "date": "04/17/2013",
        "average_STRESS_CORRECTED": 3.344827586,
        "ddl": 0.25,
        "average_sleep_hours": 6.592592593
      },
      {
        "date": "04/18/2013",
        "average_STRESS_CORRECTED": 3.181818182,
        "ddl": 0.204545455,
        "average_sleep_hours": 7.047619048
      },
      {
        "date": "04/19/2013",
        "average_STRESS_CORRECTED": 2.642857143,
        "ddl": 0.272727273,
        "average_sleep_hours": 6.3
      },
      {
        "date": "04/20/2013",
        "average_STRESS_CORRECTED": 2.777777778,
        "ddl": 0,
        "average_sleep_hours": 7.454545455
      },
      {
        "date": "04/21/2013",
        "average_STRESS_CORRECTED": 3.777777778,
        "ddl": 0,
        "average_sleep_hours": 7.2
      },
      {
        "date": "04/22/2013",
        "average_STRESS_CORRECTED": 2.764705882,
        "ddl": 1.340909091,
        "average_sleep_hours": 6.909090909
      },
      {
        "date": "04/23/2013",
        "average_STRESS_CORRECTED": 3.0625,
        "ddl": 0.272727273,
        "average_sleep_hours": 6.857142857
      },
      {
        "date": "04/24/2013",
        "average_STRESS_CORRECTED": 3.066666667,
        "ddl": 0.159090909,
        "average_sleep_hours": 8
      },
      {
        "date": "04/25/2013",
        "average_STRESS_CORRECTED": 3,
        "ddl": 0.136363636,
        "average_sleep_hours": 7
      },
      {
        "date": "04/26/2013",
        "average_STRESS_CORRECTED": 3.538461538,
        "ddl": 0.25,
        "average_sleep_hours": 7.090909091
      },
      {
        "date": "04/27/2013",
        "average_STRESS_CORRECTED": 2.5,
        "ddl": 0,
        "average_sleep_hours": 7.666666667
      },
      {
        "date": "04/28/2013",
        "average_STRESS_CORRECTED": 4,
        "ddl": 0,
        "average_sleep_hours": 7.333333333
      },
      {
        "date": "04/29/2013",
        "average_STRESS_CORRECTED": 3.822580645,
        "ddl": 0.431818182,
        "average_sleep_hours": 5.473684211
      },
      {
        "date": "04/30/2013",
        "average_STRESS_CORRECTED": 4.0625,
        "ddl": 1.431818182,
        "average_sleep_hours": 6.133333333
      },
      {
        "date": "05/01/2013",
        "average_STRESS_CORRECTED": 3.304347826,
        "ddl": 0.159090909,
        "average_sleep_hours": 6.666666667
      },
      {
        "date": "05/02/2013",
        "average_STRESS_CORRECTED": 3.35,
        "ddl": 0.159090909,
        "average_sleep_hours": 7.285714286
      },
      {
        "date": "05/03/2013",
        "average_STRESS_CORRECTED": 3.142857143,
        "ddl": 0.25,
        "average_sleep_hours": 6.916666667
      },
      {
        "date": "05/04/2013",
        "average_STRESS_CORRECTED": 3.142857143,
        "ddl": 0,
        "average_sleep_hours": 8.75
      },
      {
        "date": "05/05/2013",
        "average_STRESS_CORRECTED": 3.25,
        "ddl": 0,
        "average_sleep_hours": 7.666666667
      },
      {
        "date": "05/06/2013",
        "average_STRESS_CORRECTED": 3.55,
        "ddl": 0.295454545,
        "average_sleep_hours": 6.666666667
      },
      {
        "date": "05/07/2013",
        "average_STRESS_CORRECTED": 3.340425532,
        "ddl": 1.318181818,
        "average_sleep_hours": 6
      },
      {
        "date": "05/08/2013",
        "average_STRESS_CORRECTED": 3.272727273,
        "ddl": 0.204545455,
        "average_sleep_hours": 8.111111111
      },
      {
        "date": "05/09/2013",
        "average_STRESS_CORRECTED": 3.9,
        "ddl": 0.113636364,
        "average_sleep_hours": 9.75
      },
      {
        "date": "05/10/2013",
        "average_STRESS_CORRECTED": 3.5,
        "ddl": 0.272727273,
        "average_sleep_hours": 9.2
      },
      {
        "date": "05/11/2013",
        "average_STRESS_CORRECTED": 3.333333333,
        "ddl": 0,
        "average_sleep_hours": 11.5
      },
      {
        "date": "05/12/2013",
        "average_STRESS_CORRECTED": 2.888888889,
        "ddl": 0,
        "average_sleep_hours": 10.16666667
      },
      {
        "date": "05/13/2013",
        "average_STRESS_CORRECTED": 3.333333333,
        "ddl": 1.113636364,
        "average_sleep_hours": 9.222222222
      },
      {
        "date": "05/14/2013",
        "average_STRESS_CORRECTED": 3.368421053,
        "ddl": 0.340909091,
        "average_sleep_hours": 10.85714286
      },
      {
        "date": "05/15/2013",
        "average_STRESS_CORRECTED": 2.928571429,
        "ddl": 0.295454545,
        "average_sleep_hours": 8.9
      },
      {
        "date": "05/16/2013",
        "average_STRESS_CORRECTED": 3.411764706,
        "ddl": 0.068181818,
        "average_sleep_hours": 8.5
      },
      {
        "date": "05/17/2013",
        "average_STRESS_CORRECTED": 3.375,
        "ddl": 0.227272727,
        "average_sleep_hours": 9.428571429
      },
      {
        "date": "05/18/2013",
        "average_STRESS_CORRECTED": 3.307692308,
        "ddl": 0,
        "average_sleep_hours": 9.625
      },
      {
        "date": "05/19/2013",
        "average_STRESS_CORRECTED": 2.782608696,
        "ddl": 0,
        "average_sleep_hours": 9.75
      },
      {
        "date": "05/20/2013",
        "average_STRESS_CORRECTED": 3.347826087,
        "ddl": 0.068181818,
        "average_sleep_hours": 8.555555556
      },
      {
        "date": "05/21/2013",
        "average_STRESS_CORRECTED": 3.28,
        "ddl": 0.068181818,
        "average_sleep_hours": 7.5
      },
      {
        "date": "05/22/2013",
        "average_STRESS_CORRECTED": 2.909090909,
        "ddl": 0.204545455,
        "average_sleep_hours": 9.166666667
      },
      {
        "date": "05/23/2013",
        "average_STRESS_CORRECTED": 3.28,
        "ddl": 0.159090909,
        "average_sleep_hours": 7
      },
      {
        "date": "05/24/2013",
        "average_STRESS_CORRECTED": 2.944444444,
        "ddl": 0.159090909,
        "average_sleep_hours": 8.5
      },
      {
        "date": "05/25/2013",
        "average_STRESS_CORRECTED": 4.285714286,
        "ddl": 0.045454545,
        "average_sleep_hours": 8.666666667
      },
      {
        "date": "05/26/2013",
        "average_STRESS_CORRECTED": 2.75,
        "ddl": 0.045454545,
        "average_sleep_hours": 11.33333333
      },
      {
        "date": "05/27/2013",
        "average_STRESS_CORRECTED": 3.2,
        "ddl": 0.045454545,
        "average_sleep_hours": 10.8
      },
      {
        "date": "05/28/2013",
        "average_STRESS_CORRECTED": 4.25,
        "ddl": 0.386363636,
        "average_sleep_hours": 10
      },
      {
        "date": "05/29/2013",
        "average_STRESS_CORRECTED": 3,
        "ddl": 1.545454545,
        "average_sleep_hours": 4.25
      },
      {
        "date": "05/30/2013",
        "average_STRESS_CORRECTED": 2.333333333,
        "ddl": 0.045454545,
        "average_sleep_hours": 6
      },
      {
        "date": "05/31/2013",
        "average_STRESS_CORRECTED": 1.714285714,
        "ddl": 0.113636364,
        "average_sleep_hours": 10.5
      },
      {
        "date": "06/01/2013",
        "average_STRESS_CORRECTED": 3.333333333,
        "ddl": 0.159090909,
        "average_sleep_hours": 9.5
      },
      {
        "date": "06/02/2013",
        "average_STRESS_CORRECTED": 2,
        "ddl": 0,
        "average_sleep_hours": 19
      },
      {
        "date": "06/03/2013",
        "average_STRESS_CORRECTED": 2,
        "ddl": 0.090909091,
        "average_sleep_hours": 7
      },
      {
        "date": "06/04/2013",
        "average_STRESS_CORRECTED": 2,
        "ddl": 0.045454545,
        "average_sleep_hours": 13
      },
      {
        "date": "06/05/2013",
        "average_STRESS_CORRECTED": 1.666666667,
        "ddl": 0.022727273,
        "average_sleep_hours": 7
      },
      {
        "date": "06/06/2013",
        "average_STRESS_CORRECTED": 2,
        "ddl": "",
        "average_sleep_hours": 15
      },
      {
        "date": "06/07/2013",
        "average_STRESS_CORRECTED": 4,
        "ddl": "",
        "average_sleep_hours": 5
      }
      
      ]
      
      
    });
    </script>

    <!-- HTML -->
    <div id="chartdiv4" style="height: 400px; width: 100%;"></div>       

    <p>
      This graph shows the total group of students' average stress level, # of deadlines  and sleep hours across the whole term. According to the graph, students express less stressed when they sleep longer. Most of the deadlines happens on Mondays and Tuesdays. There is a weekly stress peak around Sundays and Mondays, which is indicative of an influence of days of weeks on deadlines, in turn influencing stress.
    </p>

    <h3>PERSONALITY</h3>
    <p>
      Students of different personalities may have different sensitivity towards stress. The two personality graphs are comparing the BIG FIVE result of students who get the low score in PSS (pre & post test) and who get a high score in the PSS. According to the result, low-stress students get a lower score in neuroticism, higher score in conscientiousness and agreeableness.
    </p>
    <p>
      From our observation, neuroticism is associated with perceived stress. It is reasonable since individuals who score high on neuroticism are more likely than average to be moody and to experience such feelings as anxiety, worry, fear, anger, frustration, envy, jealousy, guilt, depressed mood, and loneliness. We will use students’ score in this trait in our Bayes Network model.
    </p>

    <!-- Chart code -->
    <script>
    var chart = AmCharts.makeChart( "chartdiv5", {
      "type": "radar",
         "titles": [{
            "text": "Personality of High Stressful students",
            "size": 15
        }],
      "theme": "light",
      "dataProvider": 
      
      [ 
      
      
      
      {
        "uid": "Extraversion (Mean = 2.75, SD = 0.74)",
        "u00": 3.75,
        "u01": 3.125,
        "u02": 2.125,
        "u03": 2.125,
        "u04": 2.375,
        "u05": 3.125,
        "u07": 3.125,
        "u08": 2.625,
        "u09": 2.375,
        "u10": 2,
        "u12": 2.875,
        "u13": 3.375,
        "u14": 3.25,
        "u15": 3.25,
        "u16": 1.75,
        "u17": 2.625,
        "u18": 2.625,
        "u19": 1.75,
        "u20": 3.875,
        "u22": 3.625,
        "u23": 3.375,
        "u24": 3.5,
        "u27": 2.5,
        "u30": 4.5,
        "u31": 4.25,
        "u32": 4.25,
        "u33": 2.875,
        "u34": 3.25,
        "u35": 2.625,
        "u36": 3.5,
        "u39": 3.375,
        "u42": 3.125,
        "u43": 2.375,
        "u44": 3.375,
        "u45": 3.75,
        "u46": 3.125,
        "u47": 4.375,
        "u49": 2.875,
        "u50": 3.875,
        "u51": 3.375,
        "u52": 1.625,
        "u53": 2.25,
        "u56": 1.625,
        "u57": 2.125,
        "u58": 2.125,
        "u59": 4
      },
      {
        "uid": "Agreeableness (Mean = 3.23, SD = 0.58)",
        "u00": 2.888888889,
        "u01": 3.777777778,
        "u02": 3,
        "u03": 3.222222222,
        "u04": 3.111111111,
        "u05": 3.777777778,
        "u07": 4.222222222,
        "u08": 3.777777778,
        "u09": 4.555555556,
        "u10": 1.333333333,
        "u12": 3.555555556,
        "u13": 3.555555556,
        "u14": 3.666666667,
        "u15": 3.555555556,
        "u16": 3.333333333,
        "u17": 3.888888889,
        "u18": 2.222222222,
        "u19": 3.111111111,
        "u20": 4.333333333,
        "u22": 3.444444444,
        "u23": 3.666666667,
        "u24": 2.666666667,
        "u27": 3.888888889,
        "u30": 4.111111111,
        "u31": 3.888888889,
        "u32": 4.222222222,
        "u33": 3.333333333,
        "u34": 4.333333333,
        "u35": 3.888888889,
        "u36": 4.111111111,
        "u39": 3.333333333,
        "u42": 4.222222222,
        "u43": 4.111111111,
        "u44": 3.666666667,
        "u45": 3.666666667,
        "u46": 3.111111111,
        "u47": 3.222222222,
        "u49": 4.222222222,
        "u50": 3.333333333,
        "u51": 3.777777778,
        "u52": 3.333333333,
        "u53": 4,
        "u56": 4.111111111,
        "u57": 4,
        "u58": 4.333333333,
        "u59": 4.111111111
      },
      {
        "uid": "Conscientiousness (Mean = 3.17, SD = 0.50)",
        "u00": 3,
        "u01": 4.2,
        "u02": 3.9,
        "u03": 3.7,
        "u04": 2.8,
        "u05": 4.1,
        "u07": 3.6,
        "u08": 4,
        "u09": 2.8,
        "u10": 4.5,
        "u12": 3.7,
        "u13": 2.7,
        "u14": 3.4,
        "u15": 3.2,
        "u16": 3.5,
        "u17": 3.4,
        "u18": 3.1,
        "u19": 3.4,
        "u20": 3.3,
        "u22": 4.2,
        "u23": 3,
        "u24": 2.5,
        "u27": 2.8,
        "u30": 4.2,
        "u31": 3,
        "u32": 4.1,
        "u33": 2.2,
        "u34": 3.1,
        "u35": 3.4,
        "u36": 3.6,
        "u39": 3.2,
        "u42": 2.6,
        "u43": 4,
        "u44": 3.5,
        "u45": 3.2,
        "u46": 3.5,
        "u47": 3.3,
        "u49": 3.7,
        "u50": 3.4,
        "u51": 3.6,
        "u52": 2.3,
        "u53": 3.1,
        "u56": 3.5,
        "u57": 3.3,
        "u58": 3.3,
        "u59": 2.7
      },
      {
        "uid": "Neuroticism (Mean = 3.41, SD = 0.69)",
        "u00": 3.125,
        "u01": 2.75,
        "u02": 3.5,
        "u03": 3.375,
        "u04": 4.125,
        "u05": 2.75,
        "u07": 2.142857143,
        "u08": 3.25,
        "u09": 2.125,
        "u10": 3.375,
        "u12": 2.875,
        "u13": 3.375,
        "u14": 2.428571429,
        "u15": 2.75,
        "u16": 4.25,
        "u17": 3.125,
        "u18": 3.75,
        "u19": 3.625,
        "u20": 2.375,
        "u22": 2.875,
        "u23": 3.75,
        "u24": 3.125,
        "u27": 3.125,
        "u30": 2,
        "u31": 3.125,
        "u32": 1.75,
        "u33": 3.625,
        "u34": 2.875,
        "u35": 2.625,
        "u36": 1.75,
        "u39": 3,
        "u42": 2.5,
        "u43": 2.5,
        "u44": 2.25,
        "u45": 3.125,
        "u46": 3.5,
        "u47": 2,
        "u49": 2.5,
        "u50": 2.5,
        "u51": 2.75,
        "u52": 4.125,
        "u53": 4.5,
        "u56": 2,
        "u57": 2.125,
        "u58": 3.875,
        "u59": 2.875
      },
      {
        "uid": "Openness (Mean = 3.50, SD = 0.76)",
        "u00": 4.5,
        "u01": 3.9,
        "u02": 3.2,
        "u03": 2.7,
        "u04": 2.9,
        "u05": 3.3,
        "u07": 2.3,
        "u08": 3.3,
        "u09": 3.3,
        "u10": 3.6,
        "u12": 3.4,
        "u13": 4.3,
        "u14": 3.3,
        "u15": 3,
        "u16": 3.8,
        "u17": 4.5,
        "u18": 2.5,
        "u19": 3.2,
        "u20": 3.6,
        "u22": 3.8,
        "u23": 3.6,
        "u24": 3.5,
        "u27": 3.3,
        "u30": 3.6,
        "u31": 3.7,
        "u32": 3.7,
        "u33": 4.6,
        "u34": 3.3,
        "u35": 3.4,
        "u36": 3.5,
        "u39": 3.5,
        "u42": 3.9,
        "u43": 3.3,
        "u44": 3.6,
        "u45": 3.7,
        "u46": 4.2,
        "u47": 3.8,
        "u49": 4.3,
        "u50": 3.5,
        "u51": 4,
        "u52": 3.5,
        "u53": 4.4,
        "u56": 4.1,
        "u57": 2.7,
        "u58": 3.6,
        "u59": 3.5
      }


      
      
      
      
      
      ],
      "valueAxes": [ {
        "axisTitleOffset": 20,
        "minimum": 0,
        "axisAlpha": 0.65
      } ],
      "startDuration": 0.2,
      "graphs": [ 
      
      {
        "balloonText": "student 17: [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u17"
      } , {
        "balloonText": " student 33: [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u33"
      },
       {
        "balloonText": "student 46: [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u46"
      } , {
        "balloonText": "student 52: [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u52"
      }, {
        "balloonText": "student 47: [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u47"
      }, {
        "balloonText": "student 07: [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u07"
      }, {
        "balloonText": "student 23: [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u23"
      }, {
        "balloonText": "student 18: [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u18"
      }, {
        "balloonText": "student 16: [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u16"
      }, {
        "balloonText": "student 02: [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u02"
      }
       
      
      
      
      ]
      
      
      ,
      "categoryField": "uid",
      "export": {
        "enabled": true
      }
    } );
    </script>

    <!-- HTML -->
    <div id="chartdiv5" style="height: 600px; width: 100%;"></div>              

    <!-- Chart code -->
    <script>
    var chart = AmCharts.makeChart( "chartdiv6", {
      "type": "radar",
      "type": "radar",
         "titles": [{
            "text": "Personality of Low Stressful students",
            "size": 15
        }],
      "theme": "light",
      "dataProvider": 
      
      [ 
      
      
      
      {
        "uid": "Extraversion (Mean = 3.17, SD = 0.75)",
        "u00": 3.75,
        "u01": 3.125,
        "u02": 2.125,
        "u03": 2.125,
        "u04": 2.375,
        "u05": 3.125,
        "u07": 3.125,
        "u08": 2.625,
        "u09": 2.375,
        "u10": 2,
        "u12": 2.875,
        "u13": 3.375,
        "u14": 3.25,
        "u15": 3.25,
        "u16": 1.75,
        "u17": 2.625,
        "u18": 2.625,
        "u19": 1.75,
        "u20": 3.875,
        "u22": 3.625,
        "u23": 3.375,
        "u24": 3.5,
        "u27": 2.5,
        "u30": 4.5,
        "u31": 4.25,
        "u32": 4.25,
        "u33": 2.875,
        "u34": 3.25,
        "u35": 2.625,
        "u36": 3.5,
        "u39": 3.375,
        "u42": 3.125,
        "u43": 2.375,
        "u44": 3.375,
        "u45": 3.75,
        "u46": 3.125,
        "u47": 4.375,
        "u49": 2.875,
        "u50": 3.875,
        "u51": 3.375,
        "u52": 1.625,
        "u53": 2.25,
        "u56": 1.625,
        "u57": 2.125,
        "u58": 2.125,
        "u59": 4
      },
      {
        "uid": "Agreeableness (Mean = 3.91, SD = 0.28)",
        "u00": 2.888888889,
        "u01": 3.777777778,
        "u02": 3,
        "u03": 3.222222222,
        "u04": 3.111111111,
        "u05": 3.777777778,
        "u07": 4.222222222,
        "u08": 3.777777778,
        "u09": 4.555555556,
        "u10": 1.333333333,
        "u12": 3.555555556,
        "u13": 3.555555556,
        "u14": 3.666666667,
        "u15": 3.555555556,
        "u16": 3.333333333,
        "u17": 3.888888889,
        "u18": 2.222222222,
        "u19": 3.111111111,
        "u20": 4.333333333,
        "u22": 3.444444444,
        "u23": 3.666666667,
        "u24": 2.666666667,
        "u27": 3.888888889,
        "u30": 4.111111111,
        "u31": 3.888888889,
        "u32": 4.222222222,
        "u33": 3.333333333,
        "u34": 4.333333333,
        "u35": 3.888888889,
        "u36": 4.111111111,
        "u39": 3.333333333,
        "u42": 4.222222222,
        "u43": 4.111111111,
        "u44": 3.666666667,
        "u45": 3.666666667,
        "u46": 3.111111111,
        "u47": 3.222222222,
        "u49": 4.222222222,
        "u50": 3.333333333,
        "u51": 3.777777778,
        "u52": 3.333333333,
        "u53": 4,
        "u56": 4.111111111,
        "u57": 4,
        "u58": 4.333333333,
        "u59": 4.111111111
      },
      {
        "uid": "Conscientiousness (Mean = 3.71, SD = 0.34)",
        "u00": 3,
        "u01": 4.2,
        "u02": 3.9,
        "u03": 3.7,
        "u04": 2.8,
        "u05": 4.1,
        "u07": 3.6,
        "u08": 4,
        "u09": 2.8,
        "u10": 4.5,
        "u12": 3.7,
        "u13": 2.7,
        "u14": 3.4,
        "u15": 3.2,
        "u16": 3.5,
        "u17": 3.4,
        "u18": 3.1,
        "u19": 3.4,
        "u20": 3.3,
        "u22": 4.2,
        "u23": 3,
        "u24": 2.5,
        "u27": 2.8,
        "u30": 4.2,
        "u31": 3,
        "u32": 4.1,
        "u33": 2.2,
        "u34": 3.1,
        "u35": 3.4,
        "u36": 3.6,
        "u39": 3.2,
        "u42": 2.6,
        "u43": 4,
        "u44": 3.5,
        "u45": 3.2,
        "u46": 3.5,
        "u47": 3.3,
        "u49": 3.7,
        "u50": 3.4,
        "u51": 3.6,
        "u52": 2.3,
        "u53": 3.1,
        "u56": 3.5,
        "u57": 3.3,
        "u58": 3.3,
        "u59": 2.7
      },
      {
        "uid": "Neuroticism (Mean = 2.32, SD = 0.40)",
        "u00": 3.125,
        "u01": 2.75,
        "u02": 3.5,
        "u03": 3.375,
        "u04": 4.125,
        "u05": 2.75,
        "u07": 2.142857143,
        "u08": 3.25,
        "u09": 2.125,
        "u10": 3.375,
        "u12": 2.875,
        "u13": 3.375,
        "u14": 2.428571429,
        "u15": 2.75,
        "u16": 4.25,
        "u17": 3.125,
        "u18": 3.75,
        "u19": 3.625,
        "u20": 2.375,
        "u22": 2.875,
        "u23": 3.75,
        "u24": 3.125,
        "u27": 3.125,
        "u30": 2,
        "u31": 3.125,
        "u32": 1.75,
        "u33": 3.625,
        "u34": 2.875,
        "u35": 2.625,
        "u36": 1.75,
        "u39": 3,
        "u42": 2.5,
        "u43": 2.5,
        "u44": 2.25,
        "u45": 3.125,
        "u46": 3.5,
        "u47": 2,
        "u49": 2.5,
        "u50": 2.5,
        "u51": 2.75,
        "u52": 4.125,
        "u53": 4.5,
        "u56": 2,
        "u57": 2.125,
        "u58": 3.875,
        "u59": 2.875
      },
      {
        "uid": "Openness(Mean = 3.41, SD = 0.54)",
        "u00": 4.5,
        "u01": 3.9,
        "u02": 3.2,
        "u03": 2.7,
        "u04": 2.9,
        "u05": 3.3,
        "u07": 2.3,
        "u08": 3.3,
        "u09": 3.3,
        "u10": 3.6,
        "u12": 3.4,
        "u13": 4.3,
        "u14": 3.3,
        "u15": 3,
        "u16": 3.8,
        "u17": 4.5,
        "u18": 2.5,
        "u19": 3.2,
        "u20": 3.6,
        "u22": 3.8,
        "u23": 3.6,
        "u24": 3.5,
        "u27": 3.3,
        "u30": 3.6,
        "u31": 3.7,
        "u32": 3.7,
        "u33": 4.6,
        "u34": 3.3,
        "u35": 3.4,
        "u36": 3.5,
        "u39": 3.5,
        "u42": 3.9,
        "u43": 3.3,
        "u44": 3.6,
        "u45": 3.7,
        "u46": 4.2,
        "u47": 3.8,
        "u49": 4.3,
        "u50": 3.5,
        "u51": 4,
        "u52": 3.5,
        "u53": 4.4,
        "u56": 4.1,
        "u57": 2.7,
        "u58": 3.6,
        "u59": 3.5
      }


      
      
      
      
      
      ],
      "valueAxes": [ {
        "axisTitleOffset": 20,
        "minimum": 0,
        "axisAlpha": 0.15
      } ],
      "startDuration": 0.2,
      "graphs": [ 
      
      {
        "balloonText": "student 32:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u32",
        "color":"#eeeeee"
      } , {
        "balloonText": "student 22:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u22",
        "color":"#eeeeee"
      },
       {
        "balloonText": "student 05:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u05",
        "color":"#eeeeee"
      } , {
        "balloonText": "student 14:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u14",
        "color":"#eeeeee"
      }, {
        "balloonText": "student 30:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u30",
        "color":"#eeeeee"
      }, {
        "balloonText": "student 57:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u57",
        "color":"#eeeeee"
      }, {
        "balloonText": "student 12:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u12",
        "color":"#eeeeee"
      }, {
        "balloonText": "student 56:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u56",
        "color":"#eeeeee"
      }, {
        "balloonText": "student 07:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u07",
        "color":"#eeeeee"
      }, {
        "balloonText": "student 36:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u36",
        "color":"#eeeeee"
      }, {
        "balloonText": "student 20:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u20",
        "color":"#eeeeee"
      }, {
        "balloonText": "student 49:  [[value]]",
        "bullet": "round",
        "lineThickness": 1,
        "valueField": "u49",
        "color":"#eeeeee"
      }
       
      
      
      
      ]
      
      
      ,
      "categoryField": "uid",
      "export": {
        "enabled": true
      }
    } );
    </script>

    <!-- HTML -->
    <div id="chartdiv6" style="height: 600px; width: 100%;"></div> 
  </div>


  <div class="section-background" style="background-color: #F2F2F2; margin-top: 64px; padding-bottom: 64px;">
    <div class="project-section">
      <div class="section-title-container">
        <div class="section-title-seq">
          3
        </div>
        <div class="section-title-right">
          <h2>MODELING AND APPLICATIONS</h2>
          <div>Predicting Student Stress</div>
        </div>
      </div>

      <p>
        To help students monitor their stress level. We created a prediction model based on our previous findings.
      </p>
    </div>
  </div>

  <div class="project-section">
    <h3>PREDICTION MODEL</h3>
    <p>
      From previous observation, we found that students stress level is affected by the following factors:
    </p>
    <p>
      <strong>Personality</strong>: Personality works as internal factors. We found that students who got a high score on Neuroticism from the Big Five Scale were more inclined to feel stressed.
    </p>   
    <p>
      <strong> Lifestyle</strong>: Students’ lifestyle includes sleep hours and daily activity may also affect their perceived stress level. We observed from Figure 7 that students’ sleep hours were negatively associated with stress level. We also found that students spent less walking and running during the second half of the semester from their phone sensing data, suggesting that as the term gets busier, they exercise less.
    </p>
    <p>
      <strong>Coursework</strong>: In addition to personality and lifestyle, coursework and school context are other significant factors. Based on our observation from figure 7, students’ stress level is positively associated with the number of deadlines.
    </p>
    <p>
      We consider all those factors while building our machine learning model.
    </p>

    <iframe src="https://striking-shadow-167504.appspot.com" class="img-responsive flex-center gap" 
      style="width: 600px; height: 600px;" frameBorder="0" scrolling="no" ></iframe>

    <h3>MODEL PERFORMANCE</h3>
    <p>
      The model was tested on a set of withheld data from the original dataset, consisting of stress reports from five students through the term. Many of these daily stress reports included missing data for some of the attributes. Where at least half of the attributes were included, the model was run with maximum likelihood estimates for the remaining attributes. 
    </p>

    <p>
      The distribution of output stress values was compared to the distribution of stress values from the data. Assuming a Poisson distribution, the maximum likelihood estimate for the mean stress value was determined for each distribution to determine the bias of the model.
    </p>
    <p>
      ​
      Assuming low stress = 1, medium stress = 2, and high stress = 3, the testing dataset had an expected mean of 2.04, while the model output had an expected mean of 2.16. The model is more likely to predict students at a slightly higher stress than is reality. This may be due to bias in the training dataset or introduced through the imputation process.
    </p>
    <p>
      A large-sample z-test per Mathews (2010) was used to compare these distributions. There is not a statistically significant difference between the model output and the training dataset, but small datasets were used to compare these distributions. More data and testing will be required to determine how well the model's distribution matches that of the data.
    </p>


    <iframe width="600" height="371" seamless frameborder="0" scrolling="no" class="flex-center gap"
      src="https://docs.google.com/spreadsheets/d/1ceOo22LscdCGl6upr8hIxWqP2PD0GMzSnVehpJ845yw/pubchart?oid=1544165459&amp;format=interactive"></iframe>
  </div>

  <div class="section-background" style="background-color: #7FCDBB; margin-top: 64px; padding: 64px 0;">
    <div class="project-section">
      <div style="font-size: 48px; color: white; font-weight: bold;">
        What is your stress level? Try it out!
      </div>
      <p>
        Based on our model, we can help you identify your stress level and what are the main contributors making you feel stressed. Please input your data per the instruction.
      </p>
      
    </div>
  </div>

  <div class="project-section">
    <iframe id="survey" width="600" height="2426" seamless frameborder="0" scrolling="no" class="flex-center gap"
      src="https://striking-shadow-167504.appspot.com/survey"></iframe>
  </div>
</section>

<section id="project_footer">
  <div id="footer_container">
    <a href="{% url 'portfolio:projects_tune' %}" class="disabled-link">
      <img src="{% static 'portfolio/images/projects/footer_left.png' %}" style="height:auto; width: 100px;">
    </a>
    <a href="{% url 'portfolio:index' %}">
      <img src="{% static 'portfolio/images/projects/footer_home.png' %}" style="height:100px; width: 100px;">
    </a>
    <a href="{% url 'portfolio:projects_tune' %}">
      <img src="{% static 'portfolio/images/projects/footer_right.png' %}" style="height:auto; width: 100px;">
    </a>
  </div>
</section>
{% endblock %}
