{% extends 'portfolio/projects_list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block project_detail %}

  <section id="projects">
    <div class="container">
      <div class="box">
        <ul class="portfolio-filter">
          {# the data-filter value is used as a css selector to choose corresponding portfolio-items #}
          <li><a class="btn btn-primary active" href="#" data-filter="*">All</a></li>
          <li><a class="btn btn-primary" href="#" data-filter=".bootstrap">Bootstrap</a></li>
          <li><a class="btn btn-primary" href="#" data-filter=".html">HTML</a></li>
          <li><a class="btn btn-primary" href="#" data-filter=".wordpress">Wordpress</a></li>
        </ul>
        <!--/#portfolio-filter-->
      </div>

    </div>
  </section>
{% endblock %}