{% extends 'portfolio/projects_list.html' %}
{% load staticfiles %}
{% load i18n %}

{% comment %}
This page is a demo for creating project navigation.
The page is devided into two part, the left navigation and the right content.
{% endcomment %}

{% block project_detail %}
<section id="project_treeme" class="project_detail">
  <section class="project-header">
    <div class="font-size-18 grey-4a" style="font-weight: 400;">
      DESIGN IDEAS
    </div>
    <h1 class="grey-4a bold">TreeMe: Self-identity as Motivation</h1>
    <p>The power of belif can change one's behavior subconsicously</p>
  </section>

  <section class="abstract-container" style="justify-content: center;">
    <div class="flexbox column" style="width: 80%;">
      <h4 style="font-weight: bold;">WHY TreeMe?</h4>
      <p>
        Few years ago, I conducted a study in Beijing, China. By comparing 400 students from key public schools and from schools for migrant families, my study showed that the latter had significantly higher scores for academic burnout scale than the former. To find the cause and possible solutions, I have conducted a longitudinal study among migrant children, focusing on the relationship between academic burnout and proactive coping. As a part of the study, I used an intervention method called possible selves tree based on Markus’ possible selves theories (1989). The findings suggested that this method could significantly reduce academic burnout among 9-12 years old migrant children. 
      </p>
      <p>
        However, this kind of intervention requires the work of many experts to have a real impact on children’s academic life national wide, however, there are only a limited number of psychological practitioners in this field. To slove the problem, this design concept is aiming to find a way using automatic service rather than manpower to help students with psychological intervention.
      </p>
    </div>
  </section>

  <section id="background" class="project-section">
    <h3>BACKGROUND</h3>
    <p>
      Improving the academic motivation and commitment of students is a challenge for many educators. One way of helping students find their goals related to future learning involves the analysis of “possible selves”. Possible selves are ideas about what one might become in the future (Markus, 1989). Markus believed that possible selves could be very motivating because individuals with clear ideas and goals about what they want to do seem more willing to put forth the effort to attain their ideals. 
    </p>
    <div class="bullet-point">Invisioning a desired future can change one's motivation and hen the behavior.</div>
    <p>
      The possible selves intervention guide student through the process of thinking about their hopes, expectations, and fears for the future. The possible selves tree intervention is designed to increase student motivation by having students think and describe their hoped-for possible selves, expected possible selves and feared possible selves. Once student describe their possible selves, they create a possible selves tree. The tree is a metaphor to help students examine the key roles they will assume in life, their hopes, expectations and fears for the future.
    </p>
    <img src="{% static 'portfolio/images/projects/treeme/motivation.png' %}" class="img-responsive" 
    style="width: 60%; align-self: center; margin: 12px 0;"/>

    <h3>INTERVENTION PROCESS</h3>
    <p>
      Obviously, the job can not be done only by imagination. Research shows that a detailed intervention is necessary to make this theory effective in the real life.
    </p>
    <div class="bullet-point">"Possible Self" only works when it is actionable</div>
    <p>A typical intervention contains six components(Hock et al., 2003):</p>
    <p>
      <strong>Discovering</strong>
      : Help students answer the question, ”What are my strengths and interests? ” During this phase, the objective is to help student identity area in which they have interest and skills.
    </p>

    <p>
      <strong>Thinking</strong>
      : Thinking is the second component of the intervention. It is designed to help students answer the question “Who I am” . They are also asked to define their hopes, expectations and fears for the future I each area.
    </p>

    <p>
      <strong>Sketching</strong>
      : It helps the student answer the question ”What am I like and what are my possible selves?” During this phase, students are asked to draw their “Tree”.
    </p>

    <p>
      <strong>Reflecting</strong>
      : help students answer the question “What can I be?”. It provides an opportunity for the student to evaluate the condition of his or her tree and set goals for the future.
    </p>

    <p>
      <strong>Growing</strong>
      : Help student answer the question ”How do I get there?”. It is utilized to get the student to start thinking about specific ways to nurture and grow his or her tree and attain identified goals.
    </p>

    <p>
      <strong>Performing</strong>
      : It helps student answer the question ”How am I doing?” During this phase, the Possible Selves Tree, the goals established to “nurture” the tree, and the action plans are revisited regularly.
    </p>


    <h3>THE DESIGN CONCEPT</h3>
    <p>
      Inspired by the research, I came up with a design idea which use possible selves as road map to motivate kids. It’s just a concept so far. Please contact me if you are interested in details or hoping to have more explorations on this topic with me.
    </p>
    <img src="{% static 'portfolio/images/projects/treeme/concept.png' %}" class="img-responsive" 
    style="width: 80%; align-self: center; margin: 12px 0;"/>

    <p><strong>Discovering and thinking about the selves</strong></p>

    <img src="{% static 'portfolio/images/projects/treeme/discover.png' %}" class="img-responsive" 
    style="width: 80%; align-self: center; margin: 12px 0;"/>

    <p><strong>Sketching and reflecting their Possible selves</strong></p>

    <p>The tree will have limbs that represent students as a learner, or another identity in an area of strength. It will also have branches that represent their hoped-for and expected possible selves in those areas.</p>

    <img src="{% static 'portfolio/images/projects/treeme/tree.png' %}" class="img-responsive" 
    style="width: 80%; align-self: center; margin: 12px 0;"/>

    <p><strong>Performing possible conditions</strong></p>

    <p>According to their individiual plan, TreeMe will help students track their performance. Thus their task completion is reviewed, plans are modified and goal attainment is celebrated.</p>
    <img src="{% static 'portfolio/images/projects/treeme/performing.png' %}" class="img-responsive" 
    style="width: 80%; align-self: center; margin: 12px 0;"/>


    <p><strong>Growing track</strong></p>
    <p>According to their individiual plan, TreeMe will help students track their performance. Thus their task completion is reviewed, plans are modified and goal attainment is celebrated.</p>
    <img src="{% static 'portfolio/images/projects/treeme/track.png' %}" class="img-responsive" 
    style="width: 80%; align-self: center; margin: 12px 0;"/>
  </section>

</section>

{% endblock %}
