{% extends 'portfolio/projects_list.html' %}

{% block project_detail %}
  <section id="project_detail">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <div class="nav-container">
              <ul class="nav nav-pills nav-stacked nav-box">
                <li class="active"><a href="#section1">Section 1</a></li>
                <li><a href="#section2">Section 2</a></li>
                <li><a href="#section3">Section 3</a></li>
                <li><a href="#section41">Section 4-1</a></li>
                <li><a href="#section42">Section 4-2</a></li>
              </ul>
            </div>
        </div>
        <div id="content" class="col-sm-9">
          <section id="section1">
            <h1>Section 1</h1>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </section>
          <section id="section2">
            <h1>Section 2</h1>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </section>
          <section id="section3">
            <h1>Section 3</h1>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </section>
          <section id="section41">
            <h1>Section 4-1</h1>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </section>
          <section id="section42">
            <h1>Section 4-2</h1>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>

            <p>Try to scroll this section and look at the navigation list while scrolling!</p>
          </section>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
