{% extends 'portfolio/projects_list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block project_detail %}
<img src="{% static 'portfolio/images/projects/capstone/header.png' %}" class="header_img" >
<img src="{% static 'portfolio/images/projects/capstone/header.png' %}" class="header_img_shadow" >

<section id="project_renaissance" class="project_detail">
  <section class="project-header">
    <div class="font-size-18 grey-4a" style="font-weight: 400;">
      DESIGN FOR LEARNING
    </div>
    <h1 class="grey-4a bold">Empowering Teachers With Data</h1>
    <p>
      Leveraging a data driven approch for pedegagical decision making.
    </p>
  </section>

  <section class="abstract-container">
    <div class="abstract-left">
      <h4>BACKGROUND</h4>
      <p>
        During 2013 - 2014, I was working on haptic perception research and tangible interaction design at Microsoft Research Asia. One of my research interest is how people with visual impairment perceive differently from normally developed ones. To answer this question, I engaged with visually impaired people from different, from special education school to local massage shops. Shortly, I learned about that early training for rehabilitation is neither affordable nor effective for most of them, which results in a host of problems in their later life. 
      </p>
      <p>
        In the following year, I initiated a project to design an affordable and ready-to-use product to help blind kid practice motor skills. Working with a hardware engineer and an industrial designer, we created Tune, a motor skill training belt. This product has been designed, prototyped, and put into clinical experiments now. 
      </p>
    </div>
    <div class="abstract-right">
      <div class="abstract-list">
        <h4>MY ROLE</h4> <span>&nbsp; 2015.05 - </span>
        <ul>
          <li>Project Lead</li>
          <li>Researcher</li>
          <li>UI &amp; UX Designer</li>
        </ul>
      </div>

      <div class="abstract-list">
        <h4>SKILLS</h4>
        <ul>
          <li>Product Design</li>
          <li>Interaction Design</li>
          <li>User Study</li>
          <li>Experiment Design and Coding</li>
          <li>Project Management</li>
        </ul>
      </div>
    </div>
  </section>

  <div class="project-section">
    <div class="section-title-container">
      <div class="section-title-seq">
        1
      </div>
      <div class="section-title-right">
        <h2>PROJECT SUMMARY</h2>
        <div>The Problem and Solutions</div>
      </div>
    </div>

    <h3>Stories behind the product</h3>
    <p>
      Renaissance Learning is a leading educational technology company specializing in educational data analytics to enhance learning. Renaissance Learning’s Star Assessments are computer-adaptive tests used to measure student performance in reading, math, and early literacy. These assessments are widely used for Response to Intervention (RTI) and Multi-Tiered Support System (MTSS) purposes. Comparing an individual's student’s Star Assessment score to norms across all students taking Star assessments can aid teachers in identifying students in need of intervention (screening), measuring growth towards state standards (growth and progress monitoring), and evaluating the effectiveness of different interventions.
    </p>
    <p>
      Setting goals is a fundamental aspect of assessing a student’s progress. By setting a goal for a student, a teacher creates a criterion against which to measure student growth. With this criterion, that teacher can measure the effectiveness of their interventions, decide how to allocate resources for students in need of support, and consider the types of interventions that the student needs. In addition to providing feedback about intervention efficacy, challenging yet reasonable goals can engage students and promote growth.
    </p>
    <p>
      Renaissance Learning has developed a Goal Setting Wizard (GSW) to assist teacher setting goals for students. However, only 3% of their clients used this tool, let alone that most of the teachers deviated from the best practice that the GSW is designed for.Our team has partnered with Renaissance to find a solution that empowers teachers to use data-driven approaches to setting student goals based on their current product.
    </p>

    <h3>Phone Application </h3>
  </div>
  <img src="{% static 'portfolio/images/projects/capstone/fm.jpg' %}" class="img-responsive" />
  <img src="{% static 'portfolio/images/projects/capstone/fm.jpg' %}" class="img-responsive" />
  <video src="{% static 'portfolio/images/projects/capstone/video.mp4' %}" width="640" height="480" autoplay>
  </video>
  <div class="project-section">
    <p>
      Setting goals is a fundamental aspect of assessing a student’s progress. By setting a goal for a student, a teacher creates a criterion against which to measure student growth. With this criterion, that teacher can measure the effectiveness of their interventions, decide how to allocate resources for students in need of support, and consider the types of interventions that the student needs. In addition to providing feedback about intervention efficacy, challenging yet reasonable goals can engage students and promote growth.
    </p>
    <p>
      Renaissance Learning has developed a Goal Setting Wizard (GSW) to assist teacher setting goals for students. However, only 3% of their clients used this tool, let alone that most of the teachers deviated from the best practice that the GSW is designed for.Our team has partnered with Renaissance to find a solution that empowers teachers to use data-driven approaches to setting student goals based on their current product.
    </p>
  </div>
</section>

<section id="project_footer">
  <div id="footer_container">
    <a href="{% url 'portfolio:projects_tune' %}" class="disabled-link">
      <img src="{% static 'portfolio/images/projects/footer_left.png' %}" style="height:auto; width: 100px;">
    </a>
    <a href="{% url 'portfolio:index' %}">
      <img src="{% static 'portfolio/images/projects/footer_home.png' %}" style="height:100px; width: 100px;">
    </a>
    <a href="{% url 'portfolio:projects_tune' %}">
      <img src="{% static 'portfolio/images/projects/footer_right.png' %}" style="height:auto; width: 100px;">
    </a>
  </div>
</section>
{% endblock %}