{% extends 'portfolio/projects_list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block project_detail %}
<img src="{% static 'portfolio/images/projects/capstone/header.png' %}" class="header_img" >
<img src="{% static 'portfolio/images/projects/capstone/header.png' %}" class="header_img_shadow" >

<section id="project_renaissance" class="project_detail">
  <section class="project-header">
    <div class="font-size-18 grey-4a" style="font-weight: 400;">
      DESIGN FOR LEARNING
    </div>
    <h1 class="grey-4a bold">Empowering Teachers With Data</h1>
    <p>
      Leveraging a data driven approch for pedegagical decision making.
    </p>
  </section>

  <section class="abstract-container">
    <div class="abstract-left">
      <h4>BACKGROUND</h4>
      <p>
        During 2013 - 2014, I was working on tangible interaction research at Microsoft Research Asia. One of my interests is how people with visual impairments perceive differently from the normally developed ones. To answer this question, I engaged with visually impaired people, from special education school to local massage shops. Shortly, I learned about that early training for rehabilitation is neither affordable nor effective for most of them, which results in a host of problems in their later life. 
      </p>
      <p>
        We aim to investigate current goal setting and intervention processes used by teachers in K-12 classrooms in order to empower them to leverage data-driven approaches to set personalized goals for students, monitor instructional efficacy, and allocate resources for the different tiers of student support.
      </p>
    </div>
    <div class="abstract-right">
      <div class="abstract-list">
        <h4>MY ROLE</h4> <span>&nbsp; 2015.05 - </span>
        <ul>
          <li>UX Research Lead</li>
          <li>UX Designer</li>
          <li>Graphic Designer</li>
        </ul>
      </div>

      <div class="abstract-list">
        <h4>SKILLS</h4>
        <ul>
          <li>Interview and contextual Inquiry</li>
          <li>Usability Test</li>
          <li>Interaction Design ad Prototyping</li>
          <li>Graphic Design</li>
          <li>Dat Visualization</li>
        </ul>
      </div>
    </div>
  </section>

  <div class="project-section">
    <div class="section-title-container">
      <div class="section-title-seq">
        1
      </div>
      <div class="section-title-right">
        <h2>PROJECT SUMMARY</h2>
        <div>The Problem, Solutions, and Impact</div>
      </div>
    </div>

    <div class="quote-container">
      <div class="quote" style="font-weight: normal;">
        "Star’s Goal-Setting Wizard is a great tool for teachers. We built this product with solid scientific research and years of students’ data. However, <span style="color: #9086C5; font-weight: bold; font-size: 18px;">only 5% of teachers use this tool</span>, and even fewer people use it correctly."
      </div>
      <div class="author">
        - Eric, Renaissance Learning
      </div>
    </div>


    <h3>The "5%" Problem</h3>
    
    <p>
      - Leading educational tech company. <br />
      - 5% of teachers use it.<br />
      - less teacher can use it correctly.<br />
      - Why?<br />
    </p>

    <p>
      After a few months’ research, the answer became clear. Motor skills training is age sensitive. The kids should start exercise before their school education (it is around six years old for most blind families).  Parents' lack of knowledge and awareness in motor skill training is the substantial barrier for their early rehabilitation. The problem continues even after they get into a school. Although most schools provide rehabilitation programs, the number of specialists is scarce compared to the demands.
    </p>

    <img src="{% static 'portfolio/images/projects/capstone/1.png' %}" class="img-responsive gap" />
  </div>

  <div class="section-background" style="background-color: #F2F2F2; margin-top: 64px;">
    <div class="project-section">
      <h3 style="margin-bottom: 24px;">Learn from the uesrs</h3>

      <div class="bullet-point">What do the users want and how can they perceive the value of the product?</div>
      <p class="gap">
        Users may not be able to articulate their needs, but their behaviors reveal the pain points. TUNE used pervasive technology to tackle this problem. The product consisted of a haptic belt and a smartphone application. We used phone sensor to track kids’ motion and provide sound and haptic feedback accordingly. We designed motor activities that target on different skills with multiple challenge levels. The product turned motor training into games that are fun and motivating for the kids.     
      </p>
    </div>
  </div>

  <div class="project-section">
    <img src="{% static 'portfolio/images/projects/capstone/2.png' %}" class="img-responsive gap" />

    <h3>Our Solution</h3>

    <div class="bullet-point">
      Users want the product to be trustable (scientific), providing sufficient student information and pedagogical suggestions in an intuitive way.
    </div>
    <div class="bullet-point">
      The client wants the design to be integrated into their current product and to have an enduring impact in future generations of products. They want it to leverage the power of their research and database to help users make decisions.
    </div>
    <p class="gap">
      We designed a product that empowers teachers to use data while goal-setting for students in their classes. Vittore’s solution pairs a tutorial on goal-setting best practices with an “in-vivo” pedagogical agent that guides users through their goal-setting processes.
    </p>
  </div>

  <div class="section-background" style="background-color: rgba(144, 134, 197, 0.1); margin-top: 64px;">
    <div class="project-section">
      <img src="{% static 'portfolio/images/projects/capstone/3.png' %}" class="img-responsive gap" />
    </div>
  </div>

  <div class="project-section gap">
    <div class="flexbox flex-center left-right-layout" style="width: 100%;">
      <img src="{% static 'portfolio/images/projects/capstone/4.png' %}" 
        class="img-responsive left" style="width: 50%;">
      <div class="textbox right" style="padding-left: 10%; width: 100%;">
        <div style="margin-left: 24px; margin-bottom: 24px;">
          <img src="{% static 'portfolio/images/projects/capstone/icon/creativity.svg' %}" 
            style="width: 48px; height: 48px; margin-right: 8px;">
          <strong style="font-size: 24px; font-weight: normal;">THE TUTORIAL</strong>
        </div>
        <p>
          The tutorial trains teachers on goal-setting best practices, how to use the goal-setting interface, and how the pedagogical agent can aid their decisions. This tutorial is designed to provide easily-understood, actionable information about goal-setting with data.
        </p>
      </div>
    </div>

    <div class="flexbox flex-center left-right-layout gap" style="width: 100%; justify-content: space-between;">
      <video src="{% static 'portfolio/images/projects/capstone/video1.mov' %}" width="45%" height="auto" autoplay muted loop>
      </video>
      <video src="{% static 'portfolio/images/projects/capstone/video2.mov' %}" width="45%" height="auto" 
        class="right" autoplay muted loop>
      </video>
    </div>
  </div>

  <div class="section-background column" style="background-color: #F2F2F2; margin-top: 64px; padding: 64px 5%;">
    <div class="flexbox flex-center left-right-layout" style="width: 100%;">
      <img src="{% static 'portfolio/images/projects/capstone/5.png' %}" 
        class="img-responsive left" style="width: 50%;">
      <div class="textbox right" style="padding-left: 10%; width: 100%;">
        <div style="margin-left: 24px; margin-bottom: 24px;" class="flexbox">
          <img src="{% static 'portfolio/images/projects/capstone/icon/speech-bubble.svg' %}" 
            style="width: 48px; height: 48px; margin-right: 8px;">
          <strong style="font-size: 20px; font-weight: normal;">THE PEDAGOGICAL AGENT<br>(Chrome Extension)</strong>
        </div>
        <p>
          The pedagogical agent provides alerts where users deviate from best practices and visualizes student data to ease interpretation of these metrics. The alerts are offered as unobtrusive recommendations to teachers at relevant times in their workflow to offer improvements to their practices and to provide easily-accessed reference materials.
        </p>
      </div>
    </div>

    <video src="{% static 'portfolio/images/projects/capstone/video3.mov' %}" width="60%" height="auto" 
      style="align-self: center;" class="gap" autoplay muted loop>
    </video>
  </div>

  <div class="project-section">
    <h3>Impact</h3>
    <div class="bullet-point">
      Our solution reduced 60% of common usage errors, increased the percentage of right decisions from 10% to 80% in final product evaluation, and received high ratings on user experience.
    </div>
    <img src="{% static 'portfolio/images/projects/capstone/6.png' %}" class="img-responsive gap">
    <img src="{% static 'portfolio/images/projects/capstone/7.png' %}" class="img-responsive gap">

    <p>
      Due to the different knowledge level about data, some users might not be able to understand data metrics that are used in the product. However, almost all the users can apply them to make an appropriate decision.
    </p>

    <img src="{% static 'portfolio/images/projects/capstone/8.png' %}" class="img-responsive gap">

  </div>

  <div class="section-background" style="background-color: rgba(144, 134, 197, 0.1); margin-top: 64px;">
    <div class="project-section">
      <div class="section-title-container">
        <div class="section-title-seq">
          2
        </div>
        <div class="section-title-right">
          <h2>RESEARCH PROCESS</h2>
          <div>Understanding Our Users</div>
        </div>
      </div>

    <img src="{% static 'portfolio/images/projects/capstone/9.png' %}" class="img-responsive gap" style="max-width: 130%; margin-left: -15%;">
    </div>
  </div>


  <div class="project-section">
    <h3>Field Study</h3>

    <p>
      The majority of the research that informed the direction of this project stemmed from two human-centered research methods: contextual inquiries and think-alouds. We interviewed educators in different roles (administrators, classroom teachers, and intervention specialists), teaching experience, geographic areas, and experience with data. More specifically, we used semi-structured interviews with the subject about their work and their work tools in the context in which the subject completes their work. This is a method suited towards understanding the work environment and culture that may influence the subject.
    </p>

    <img src="{% static 'portfolio/images/projects/capstone/10.png' %}" class="img-responsive gap flex-center" style="width: 90%;">


    <p>
      We used coding and affinity diagramming to analyze data from the contextual inquiries
    </p>

    <p>
      Coding is a process of categorizing quotes and notes from raw interview data into relevant and informative codes determined by the protocol and guiding research questions. Some examples of our codes include: GS (Goal Setting), IoR (Interpretation of Reports), and CwS (Communication with Students). 
    </p>

    <p>
      Affinity diagramming involves grouping raw data from contextual inquiries into summative, hierarchical thematic and insight categories. This is a bottom-up process in which categories emerged organically from the interview notes. It allowed us to consider how the findings fit into categories of instructional design including educational goals, instruction, and assessment. Also, we marked frustrations and possible design ideas in the affinity diagram.
    </p>
  </div>


  <img src="{% static 'portfolio/images/projects/capstone/11.png' %}" class="img-responsive gap" style="width: 100%;">

  <div class="project-section">
    <p>
      While doing affinity diagram, we used graphic models allowed us to organize interview findings to uncover user behavior patterns.  In this project, we used  Cultural (Value) Model and Flow models. Value model helped identify value points, expectations, and influences between stakeholders. ISequence flow models were used for a detailed view of an intervention specialist’s workflow.
    </p>

    <h3>Understanding the Workflow</h3>

    <p>
      Sequence Flow Model shows the intent, interaction between people and tools along their workflow in great details. In this model, we narrowed down our scope and analysed the whole intervention and progress monitor process from an intervention teacher’s perspective.
    </p>
  </div>

  <img src="{% static 'portfolio/images/projects/capstone/12.png' %}" class="img-responsive gap" style="width: 100%;">

  <div class="project-section">
    <h3>Understanding the Value Points</h3>
    <p>
      A cultural model reveals the value points, expectations, and information flows between administrators, teachers, students and other roles in school education. For this project, expectations of tools were also considered.  In our cultural model, we found that the school education culture has impacts on the following aspects of progress monitor and intervention.
    </p>
  </div>

  <img src="{% static 'portfolio/images/projects/capstone/13.png' %}" class="img-responsive gap" style="width: 100%;">

  <div class="project-section">
    <h3>Insights</h3>
    <p>
      Insights are behavior patterns, breakdowns, and pain points generated from the affinity diagrams and models, used to guide product developed. We compared the models to best-practice workflows to identify breakdowns and clustered user interview notes to find pain points.
    </p>

    <img src="{% static 'portfolio/images/projects/capstone/14.png' %}" class="img-responsive gap flex-center" style="width: 90%;">
  </div>

  <img src="{% static 'portfolio/images/projects/capstone/15.png' %}" class="img-responsive gap" style="width: 100%;">

  <div class="project-section">
    <p>
      While the team generated ten key insights from the spring research, the four insights that most guided the product are highlighted in this section.
    </p>

    <div class="flexbox gap">
      <div class="round-seq">1</div>
      <div class="textbox">
        <strong style="margin-bottom: 0;">Data Visualization</strong>
        <div>
          Teachers find visual representations that display student requirements very helpful.
        </div>
      </div>
    </div>

    <div class="flexbox flex-center left-right-layout" style="width: 100%;">
      <img src="{% static 'portfolio/images/projects/capstone/16.png' %}" 
        class="img-responsive left" style="width: 50%;">
      <div class="textbox right" style="padding-left: 10%; width: 100%;">
        <div style="font-weight: bold; font-style: italic;">
          "It’s nice for the teachers to see this - when you color code it, you can see if better than just having numbers in there."
        </div>
        <div style="font-weight: lighter; font-style: italic;">
          - Elementary School Administrator
        </div>
      </div>
    </div>



    <div class="flexbox gap">
      <div class="round-seq">2</div>
      <div class="textbox">
        <strong style="margin-bottom: 0;">BENCHMARK AS GOALS</strong>
        <div>
          Goals reflect desired - not expected - performance. Teacher set goals according to state standard (benchmark), which might beyond students’ ability
        </div>
      </div>
    </div>

    <div class="flexbox flex-center left-right-layout" style="width: 100%;">
      <div class="textbox left" style="width: 100%; padding-right: 10%; ">
        <div style="font-weight: bold; font-style: italic;">
          "The goal we set is because that’s where we truly want them, we want them to be at the 60th percentile."
        </div>
        <div style="font-weight: lighter; font-style: italic;">
          - Middle School Administrator
        </div>
      </div>
      <img src="{% static 'portfolio/images/projects/capstone/17.png' %}" 
        class="img-responsive right" style="width: 50%; ">
    </div>



    <div class="flexbox gap">
      <div class="round-seq">3</div>
      <div class="textbox">
        <strong style="margin-bottom: 0;">MEASURABLE GROWTH</strong>
        <div>
          Teachers want growth, but they don't measure the growth against a reference.
        </div>
      </div>
    </div>

    <div class="flexbox flex-center left-right-layout" style="width: 100%;">
      <img src="{% static 'portfolio/images/projects/capstone/18.png' %}" 
        class="img-responsive left" style="width: 50%;">
      <div class="textbox right" style="padding-left: 10%; width: 100%;">
        <div style="font-weight: bold; font-style: italic;">
          "We want to see constant and steady progress, and set goals to make sure this progress continues to happen."
        </div>
        <div style="font-weight: lighter; font-style: italic;">
          - Middle school principal
        </div>
      </div>
    </div>



    <div class="flexbox gap">
      <div class="round-seq">4</div>
      <div class="textbox">
        <strong style="margin-bottom: 0;">DATA MISCONCEPTIONS</strong>
        <div>
          Teachers don't use some important data metrics due to distrust, difficulty in understanding, and mismatch between desired and realistic goals.
        </div>
      </div>
    </div>

    <div class="flexbox flex-center left-right-layout" style="width: 100%;">
      <div class="textbox left" style="width: 100%; padding-right: 10%; ">
        <div style="font-weight: bold; font-style: italic;">
          "Average growth for a student is between 35 SGP and 65 SGP. That’s nuts, that’s just too big."
        </div>
        <div style="font-weight: lighter; font-style: italic;">
          - Middle School Administrator
        </div>
      </div>
      <img src="{% static 'portfolio/images/projects/capstone/19.png' %}" 
        class="img-responsive right" style="width: 50%; ">
    </div>

    <h3> Ideation and Pitch</h3>

    <p>
      Personas are compiled from the behaviors, motivations, and needs of the many users whom we interviewed. Based on the work completed this spring, we found that there are four main personas that represent the key stakeholder’s use and views of data: Mr. Wisdom, Miss Rainey, Ms. Mitchell, and Mrs. Horan. Mr. Wisdom, our “data expert,” represents the teacher who understands data well, sees its value in classroom practices, and enjoys helping other teachers to use data. Ms. Mitchell, our “data enthusiast,” sees data as useful for predicting her students’ performance but feels pressured to get everyone to proficient levels. Miss Rainey, our “data skeptic,” prefers observational data about her students and believes numbers miss important information about students. Mrs. Horan, our “data advocate,” relies on data to demonstrate school performance and growth each year and establishes decision rules to use data.
    </p>

    <div class="flexbox flex-center left-right-layout gap" style="width: 100%; justify-content: space-between;">
      <img src="{% static 'portfolio/images/projects/capstone/20.png' %}" 
        class="img-responsive left" style="width: 35%;">
      <img src="{% static 'portfolio/images/projects/capstone/21.png' %}" 
        class="img-responsive right" style="width: 60%; ">
    </div>

    <p>
      We  brainstormed product features based on those personas and test those ideas with other users.
    </p>
    <img src="{% static 'portfolio/images/projects/capstone/22.png' %}" 
      class="img-responsive flex-center" style="width: 60%; ">
  </div>


  <div class="section-background" style="background-color: rgba(144, 134, 197, 0.1); margin-top: 64px; align-items: center;">
      <img src="{% static 'portfolio/images/projects/capstone/23.png' %}" class="img-responsive gap" style="width: 100%;" />
  </div>

  <div class="project-section">
    <div class="section-title-container">
      <div class="section-title-seq">
        3
      </div>
      <div class="section-title-right">
        <h2>DESIGN PROCESS</h2>
        <div>The Problem, Solutions, and Impact</div>
      </div>
    </div>

    <h3> Prototyping and Iterations</h3>
    <p>
      Rapid prototyping cycles were used to assess learning outcomes of the product, to evaluate usability, and to collect user preferences through user-centered design methods. Seven iterations of prototyping were conducted, with foci on content, data visualizations, actionability, usability, and visual preferences to make research-based decisions for the final product. We catogries those seven runs into three phases.
    </p>

    <img src="{% static 'portfolio/images/projects/capstone/24.png' %}" class="img-responsive gap flex-center" style="width: 100%;" />
    <img src="{% static 'portfolio/images/projects/capstone/25.png' %}" class="img-responsive gap flex-center" style="width: 60%;" />
  </div>

  <div class="section-background" style="background-color: #F2F2F2; margin-top: 64px;">
    <div class="project-section">
      <img src="{% static 'portfolio/images/projects/capstone/26.png' %}" class="img-responsive gap" />
    </div>
  </div>

  <div class="project-section">

    <div class="section-title-container">
      <div class="section-title-seq">
        4
      </div>
      <div class="section-title-right">
        <h2>Design Decisions</h2>
        <div>How We Appliced Human-Centered Design and Learning Sciences</div>
      </div>
    </div>

    <div class="bullet-point">Show the value of the product: Optimize users' workflow</div>
    <p>
      <strong>ACTION</strong>: Rapid prototyping cycles were used to assess learning outcomes of the product, to evaluate usability, and to collect user preferences through user-centered design methods. Seven iterations of prototyping were conducted
    </p>
    <p>
      <strong>RESULT</strong>: with foci on content, data visualizations, actionability, usability, and visual preferences to make research-based decisions for the final product. We catogries those seven runs into three phases.
    </p>


    <div class="bullet-point">Design for the Painpoint: Teach math vs. Help user achieve best practice</div>
    <p>
      <strong>ACTION</strong>: Rapid prototyping cycles were used to assess learning outcomes of the product, to evaluate usability, and to collect user preferences through user-centered design methods. Seven iterations of prototyping were conducted
    </p>
    <p>
      <strong>RESULT</strong>: with foci on content, data visualizations, actionability, usability, and visual preferences to make research-based decisions for the final product. We catogries those seven runs into three phases.
    </p>

    <div class="bullet-point">Design for Novice Users: Pre-training &amp; Correct misconceptions</div>
    <p>
      <strong>ACTION</strong>: Rapid prototyping cycles were used to assess learning outcomes of the product, to evaluate usability, and to collect user preferences through user-centered design methods. Seven iterations of prototyping were conducted
    </p>
    <p>
      <strong>RESULT</strong>: with foci on content, data visualizations, actionability, usability, and visual preferences to make research-based decisions for the final product. We catogries those seven runs into three phases.
    </p>

    <div class="bullet-point">Provide Appropriate User Control</div>
    <p>
      <strong>ACTION</strong>: Rapid prototyping cycles were used to assess learning outcomes of the product, to evaluate usability, and to collect user preferences through user-centered design methods. Seven iterations of prototyping were conducted
    </p>
    <p>
      <strong>RESULT</strong>: with foci on content, data visualizations, actionability, usability, and visual preferences to make research-based decisions for the final product. We catogries those seven runs into three phases.
    </p>

  </div>

</section>

<section id="project_footer">
  <div id="footer_container">
    <a href="{% url 'portfolio:projects_tune' %}" class="disabled-link">
      <img src="{% static 'portfolio/images/projects/footer_left.png' %}" style="height:auto; width: 100px;">
    </a>
    <a href="{% url 'portfolio:index' %}">
      <img src="{% static 'portfolio/images/projects/footer_home.png' %}" style="height:100px; width: 100px;">
    </a>
    <a href="{% url 'portfolio:projects_tune' %}">
      <img src="{% static 'portfolio/images/projects/footer_right.png' %}" style="height:auto; width: 100px;">
    </a>
  </div>
</section>
{% endblock %}