{% extends 'portfolio/projects_list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block project_detail %}

<img src="{% static 'portfolio/images/projects/tune/header.png' %}" class="header_img" >
<img src="{% static 'portfolio/images/projects/tune/header.png' %}" class="header_img_shadow" >

<section id="project_tune" class="project_detail">
  <section class="project-header">
    <div class="font-size-18 grey-4a" style="font-weight: 400;">
      MOTOR TRANING FOR BLIND CHILDREN
    </div>
    <h1 class="grey-4a bold">TUNE</h1>
    <p>
      In many developing counties, there are less than 10% of blind children are receiving effective motor skill training in their critical development period. TUNE presents a new possibility to tackle this problem. 
    </p>
  </section>

  <section class="abstract-container">
    <div class="abstract-left">
      <h4>WHY TUNE?</h4>
      <p>
        During 2013 - 2014, I was working on haptic perception research and tangible interaction design at Microsoft Research Asia. One of my research interest is how people with visual impairment perceive differently from normally developed ones. To answer this question, I engaged with visually impaired people from different, from special education school to local massage shops. Shortly, I learned about that early training for rehabilitation is neither affordable nor effective for most of them, which results in a host of problems in their later life. 
      </p>
      <p>
        In the following year, I initiated a project to design an affordable and ready-to-use product to help blind kid practice motor skills. Working with a hardware engineer and an industrial designer, we created Tune, a motor skill training belt. This product has been designed, prototyped, and put into clinical experiments now. 
      </p>
    </div>
    <div class="abstract-right">
      <div class="abstract-list">
        <h4>MY ROLE</h4> <span>&nbsp; 2015.05 - </span>
        <ul>
          <li>Project Lead</li>
          <li>Researcher</li>
          <li>UI &amp; UX Designer</li>
        </ul>
      </div>

      <div class="abstract-list">
        <h4>SKILLS</h4>
        <ul>
          <li>Product Design</li>
          <li>Interaction Design</li>
          <li>User Study</li>
          <li>Experiment Design and Coding</li>
          <li>Project Management</li>
        </ul>
      </div>
    </div>
  </section>

  <div class="project-section">
    <div class="section-title-container">
      <div class="section-title-seq">
        1
      </div>
      <div class="section-title-right">
        <h2>PROJECT SUMMARY</h2>
        <div>The Problem and Solutions</div>
      </div>
    </div>

    <p>
      In developing countries, less than 10 percent of blind children could receive motor skill training in their sensitive period for movement development. Insufficient motor training will result in permanent sensory impairments in their later life. What caused the problem and how can we tackle these challenges? 
    </p>

    <h3>
      THE PROBLEM
    </h3>
    <p>
      According to the annual report from China Disabled Persons Federation (CDPF, 2015), there have been around 2000 special education schools in China and more than 8 billion budget has been spending on rehabilitation projects each year. A significant amount of the investment goes to people suffered from visual impairment.  However, why so few blind children are receiving sufficient motor skill training? 
    </p>

    <p>
      After a few months’ research, the answer became clear. Motor skills training is age sensitive. The kids should start exercise before their school education (it is around six years old for most blind families).  Parents' lack of knowledge and awareness in motor skill training is the substantial barrier for their early rehabilitation. The problem continues even after they get into a school. Although most schools provide rehabilitation programs, the number of specialists is scarce compared to the demands. Thus, their families’ low socioeconomic status paired with limited resources and accessibility of rehabilitation programs make the situation worse. Moreover, motor skill rehabilitation requires long-term intervention. Kids’ lack of interest in training further limited the effect of current training programs.  
    </p>

    <p>
      Thus, to help blind children developing better motor skills during their sensitive period, we need a product which: 
    </p>

    <div class="bullet-point">
      Is inexpensive and easy to use at home
    </div>
    <div class="bullet-point">
      Provides customized training plan
    </div>
    <div class="bullet-point">
      Provides motor exercise with real-time feedback
    </div>
    <div class="bullet-point">
      Is motivating and attractive for children
    </div>


    <h3>
      OUR SOLUTION
    </h3>
    <p>
      TUNE used pervasive technology to tackle this problem. The product consisted of a haptic belt and a smartphone application. We used phone sensor to track kids’ motion and provide sound and haptic feedback accordingly. We designed motor activities that target on different skills with multiple challenge levels. The product turned motor training into games that are fun and motivating for the kids. At the same time, it makes the training process intuitive and trackable for parents and specialists.  
    </p>

    <img src="{% static 'portfolio/images/projects/tune/1.png' %}" class="img-responsive" style="margin-bottom: 48px;">

    <div class="flexbox solution-bullets" style="flex-wrap: wrap; width: 120%; align-self: center; justify-content: space-between;">
      <div class="flexbox column">
        <div class="icon-label-container">
          <img src="{% static 'portfolio/images/projects/tune/icon_1.png' %}" class="img-responsive">
          <span>MOTIVATING</span>
        </div>
        <div>
          TUNE uses music tunes as positive feedbacks. Mapping sound (notes) to children’s steps. They could “walk” out a song like “twinkle twinkle little star” , which is naturally attractive to children
        </div>
      </div>
      <div class="flexbox column">
        <div class="icon-label-container">
          <img src="{% static 'portfolio/images/projects/tune/icon_1.png' %}" class="img-responsive">
          <span>EFFECTIVE</span>
        </div>
        <div>
          TUNE uses haptic (vibration array) as feedback for errors. If the child deviates from the chosen track，sound feedback stops and vibration arrays will intuitively guide the child to the right track 
        </div>
      </div>
      <div class="flexbox column">
        <div class="icon-label-container">
          <img src="{% static 'portfolio/images/projects/tune/icon_1.png' %}" class="img-responsive">
          <span>TRACKABLE</span>
        </div>
        <div>
          TUNE provides systematic training including straight going, directional cuing training, and gait correction.
 
        </div>
      </div>
      <div class="flexbox column">
        <div class="icon-label-container">
          <img src="{% static 'portfolio/images/projects/tune/icon_1.png' %}" class="img-responsive">
          <span>EASY TO USE</span>
        </div>
        <div>
          TUNE Uses phone sensors to track motion，provide sound feedback and control haptic feedback. Parents and tutors can simply download our app to choose the exercise, mount their phone in the TUNE and begin the exercise
        </div>
      </div>

    </div>

    <h3> PRODUCT PREVIEW </h3>
  </div>

  <div id="tune-structure" class="flexbox left-right-layout" style="background-color: #F2F2F2; padding-left: 10%;">
    <div class="textbox left" style="flex-grow: 1;">
      <strong> PRODUCT STRUCTURE </strong>
      <p>
        TUNE uses accelerators, inertial and geomagnetism sensors to track children's  step, walking direction, and body angle information. We also use smart phone to provide sound feedback and control the vibrators on the haptic belt. 
      </p>
    </div>
    <img 
      src="{% static 'portfolio/images/projects/tune/productstructure.png' %}" 
      class="img-responsive right"
      >
  </div>

  <div class="flexbox flex-center">
    <div class="flexbox flex-center left-right-layout" style="width: 70%;">
      <img src="{% static 'portfolio/images/projects/tune/apppreview.png' %}" 
      class="img-responsive left" style="height: 480px; width: auto;">
      <div class="textbox right" style="padding-left: 10%;">
        <strong> PHONE APPLICATION </strong>
        <p>
          Parents and tutors can use a phone application to help kids practice motor skills at home or community center. It provides customized training based on kids’ information and history data. 
        </p>
      </div>
    </div>
  </div>

  <div class="flexbox flex-center" style="background-color: #F2F2F2; width: 100%; padding-top: 32px; padding-bottom: 32px;">
    <div class="flexbox column flex-center" style="width: 80%;"">
      <div class="flexbox" style="justify-content: space-between; margin-bottom: 24px; ">
        <div class="textbox" style="padding-right: 8px;">
          <strong> USER SCENARIOS</strong>
          <p>
            Easy to use with phone applications. Motor training at home or community centers. 
          </p>
        </div>
        <img 
          src="{% static 'portfolio/images/projects/tune/usecase2.png' %}" 
          class="img-responsive" 
          style="height: 180px; width: auto; align-self: flex-end;"
          />
      </div>

      <img src="{% static 'portfolio/images/projects/tune/usecase1.png' %}" 
        class="img-responsive" style="height: 446px; width: auto;">
    </div>
  </div>

  <div class="section-background" style="background-color: rgba(248, 216, 28, 0.1);">
    <div class="project-section">
      <div class="section-title-container">
        <div class="section-title-seq">
          2
        </div>
        <div class="section-title-right">
          <h2>RESEARCH PROCESS</h2>
          <div>Understanding the Users and the Science</div>
        </div>
      </div>   
      <img src="{% static 'portfolio/images/projects/tune/research.png' %}" 
      style="width:60%;" class="flex-center gap">
      <p style="margin-bottom:32px;">
        TUNE is based on my research in human perception and developmental psychology. However, as we all know, a good scientific research is not enough for a user-friendly product. Thus, the research process aims at bridging the gap between scientific research and user experience. The research process is divided into two perspectives. I run lab experiments to decide the specific haptic information that works for the visually impaired people and field study to learn about users’ pain points to decide how to deliver the training by design. 
      </p>
    </div>
  </div>

  <div class="project-section">
    <h3> USER RESEARCH FINDINGS </h3>
    <p>
    The user research process includes multiple research methods that help me understand the user from a different perspective.<br/>
    <strong>Expert Interveiw</strong>: Understanding the basics about motor skill training from both the science and reality sides. <br/>
    <strong>Contextual Inquiry and Observation</strong>: Learn about the current motor training workflow and frustrations.<br/>
    </p>
    <img src="{% static 'portfolio/images/projects/tune/research2.png' %}" class="project-img" style="width: 80%;">

    <p>Here are some significat findings that serves as the basis of our design:</p>

    <div class="flexbox gap">
      <div class="round-seq">1</div>
      <div class="textbox">
        <strong style="margin-bottom: 0;">
          Manpower is not enough for sufficient trainings. There is a growing demand for  products that are parents / tutor facing. 
        </strong>
      </div>
    </div>

    <div class="quote-container">
      <div class="quote">
      “There are just too many students and not enough specialist here, even that we are one of the best institutes.”
      </div>
      <div class="author">
        -- An intervention specialist
      </div>
    </div>

    <div class="flexbox gap">
      <div class="round-seq">2</div>
      <div class="textbox">
        <strong style="margin-bottom: 0;">
          Motor skills need long-term and regular training, which might be discouraging and boring to the kids.        
        </strong>
      </div>
    </div>

    <div class="quote-container">
      <div class="quote">
        “Many kids just get bored after doing the same exercise. But they have to repeat those tasks to master it anyway.”
      </div>
      <div class="author">
        -- An intervention specialist
      </div>
    </div>

    <h3>EXPERIMENT (ACCESSIBILITY RESEARCH)</h3>
    <p>
      At the same time. I did some accessibility research on haptic information design for the blind. Those psychophysical experiments helped us to pick up the most distinctive signals that can be used in the product (Haptic belt).  
    </p>

    <div class="bullet-point">
      <strong>
        To make sure that the haptic belt can transmit directional cues effectively,  I used psychophysical experiments to find the most distinctive signals that can be used in hapic interaction design. 
      </strong>
    </div>
  </div>

  <img src="{% static 'portfolio/images/projects/tune/research4.png' %}" class="project-img" >
  
  <div class="flexbox column">
    <div class="flex-center">Details about the experiments can be found in my relevant paper:</div>
    <div class="flexbox flex-center" style="margin-top: 8px;">
      <a href="#" class="view_more"
        style="font-weight: bold; color: #FFC001; border-color: #FFC001; padding: 4px 18px; border-width: 2px;" 
      >View More</a>
    </div>
  </div>


  <div class="section-background" style="background-color: #F2F2F2;">
    <div class="project-section">
      <div class="section-title-container">
        <div class="section-title-seq">
          3
        </div>
        <div class="section-title-right">
          <h2>DESIGN IDEATION &amp; VALIDATION</h2>
          <div>Fail Fast, Move Fast</div>
        </div>
      </div>   
      <img src="{% static 'portfolio/images/projects/tune/design1.png' %}" style="width:90%;" class="project-img">
      <p style="margin-bottom:32px;">
        In the design process, we tried different technologies that can be used in this product and iterated on the design to make the product more user-friendly. 
      </p>
    </div>
  </div>


  <div class="project-section">
    <h3> FAIL FAST - THE INITIAL DESIGNS</h3>
    <p>
      At the very beginning of the design process, we brainstormed more than ten design ideas and evaluated them according to three criteria: User Experience, Scientificity, Technique Feasibility.
    </p>

    <p>
      Based on the initial product validation, our team came up with the idea that using in-door games with different colors marker as the task and computer vision as the technology. The test result was good, however, when we bring it to the user, a lot of problems occurred. The in-door game with the color marker was constraint by their home or community facilities. Parents did not have time to place all the marks everytime they want to train their kids. Also, there are a lot of distractors can affect the detection accuracy. 
    </p>

    <div class="bullet-point">
      The first idea failed when we brought it to the use. However, it made us realize the importance of participatory design and usability test. We learned fast and moved on. 
    </div>  
  </div>

  <img src="{% static 'portfolio/images/projects/tune/design2.png' %}" class="project-img" >

  <div class="project-section">
    <h3>MOVE FAST</h3>
    <p>After the failure of the first design, I went back to the user and spent more time observing their behaviors and the environment.  </p>
    <div class="bullet-point">
      Observing users in the real context helped us to find the new solution. It was my initial understanding of “Contextual Design” and Empathy.
    </div>
    <img src="{% static 'portfolio/images/projects/tune/design3.png' %}" class="project-img" >

    <p>
      Being with the user in the real context brought me a lot of insights. One of the insights is that kids are very sensitive to sound. It can be distracting in same cases, however, when the sound has a specific meaning, it can be very encouraging.  The insight shaped the idea of our design. 
    </p>

    <div class="quote-container">
      <div class="quote">
        “Many kids are extremely sensitive to sounds. They sometimes follow the sound while walking and deviate from the right track.”
      </div>
      <div class="author">
        -- Observation Notes
      </div>
    </div>

    <h3>ITERATE FAST</h3>

    <p>
      Based on the research findings, we made prototypes of our designs. The early prototype focus on the technical feasibility and accessibility. After we made sure that this product is technically feasible, we iterated on the product styling and interaction design. 
    </p>

    <div class="bullet-point">Hardware Testing</div>
    <p>
      The early prototype focus on the technical feasibility and accessibility. After we made sure that this product is technically feasible, we iterated on the product styling and interaction design. 
    </p>
    <img src="{% static 'portfolio/images/projects/tune/design4.png' %}" class="project-img" >


    <div class="bullet-point">Product Prototype with 3D Printing</div>
    <p>
      Based on the research findings, we made prototypes of our designs. The early prototype focus on the technical feasibility and accessibility. After we made sure that this product is technically feasible, we iterated on the product styling and interaction design. 
    </p>
    <img src="{% static 'portfolio/images/projects/tune/design5.png' %}" class="project-img" >


    <div class="bullet-point">Phone Application Prototype</div>
    <p>
      Based on our user research, we defined the key features of the phone application and prototyped the product.
    </p>
    <img src="{% static 'portfolio/images/projects/tune/design6.png' %}" class="project-img" >

    <div class="bullet-point">Training Task and Experience Design</div>
    <p>
      We also went back to our users and domain expert to decide the training tasks. Their experience in motor training helped to make sure that the training can be achievable yet challenging for the kids.  
    </p>
    <img src="{% static 'portfolio/images/projects/tune/design7.png' %}" class="project-img" style="max-width: 120%; width: 110%;">
    <img src="{% static 'portfolio/images/projects/tune/design8.png' %}" class="project-img" style="width:80%;">



    <div class="bullet-point">Final product</div>
    <img src="{% static 'portfolio/images/projects/tune/design9.png' %}" class="project-img" style="width: 60%;">
  </div>

  <div class="section-background" style="height: 400px; background-color: #F2F2F2; margin-top: 64px;">
    <div class="project-section">
      <div class="section-title-container">
        <div class="section-title-seq">
          6
        </div>
        <div class="section-title-right">
          <h2>FINAL DESIGN</h2>
          <div>And Our Vision</div>
        </div>
      </div>

      <p>
        TUNE is inexpensive for most institutes or individuals and could be a good complementary product with the classic Orientation and mobility training and newly artificial intelligence product for the blind, Seeing AI.  Improvement in basic motor skills could help the blind people use other products in their future life.
      </p>
    </div>
  </div>

  <div class="project-section">
    <h3>INDUSTRIAL DESIGN</h3>
  </div>

  <img src="{% static 'portfolio/images/projects/tune/design10.png' %}" class="project-img">

  <div class="project-section">
    <h3>PHONE APPLICATION DESIGN</h3>
  </div>

  <img src="{% static 'portfolio/images/projects/tune/design11.png' %}" class="project-img">

  <div class="flexbox flex-center">
    <div class="flexbox flex-center left-right-layout" style="width: 70%;">
      <img src="{% static 'portfolio/images/projects/tune/apppreview2.png' %}" 
        class="img-responsive left" style="height: 480px; width: auto;">
      <div class="textbox right" style="padding-left: 10%;">
        <strong> TRAINING RECOMMENDATIONS </strong>
        <p>
          The phone application can suggest training tasks for the kids based on their age level and performance. 
        </p>
      </div>
    </div>
  </div>

  <div class="flexbox flex-center" style="background-color: rgba(248, 216, 28, 0.1);">
    <div class="flexbox flex-center left-right-layout" style="width: 70%;">
      <div class="textbox left" style="padding-right: 10%;">
        <strong> DATA TRACKING </strong>
        <p>
         The application tracks kids’ historical data to show their development level. This data can be used by a specialist at school to create future training plans with parents. 
        </p>
      </div>
      <img src="{% static 'portfolio/images/projects/tune/apppreview3.png' %}" 
        class="img-responsive right" style="height: 480px; width: auto;">
    </div>
  </div>


  <div class="project-section">
    <h3>VISION</h3>

  </div>

  <img src="{% static 'portfolio/images/projects/tune/design12.png' %}" class="project-img">
</section>

<section id="project_footer">
  <div id="footer_container">
    <a href="{% url 'portfolio:projects_renaissance' %}" class="disabled-link">
      <img src="{% static 'portfolio/images/projects/footer_left.png' %}" style="height:auto; width: 100px;">
    </a>
    <a href="{% url 'portfolio:index' %}">
      <img src="{% static 'portfolio/images/projects/footer_home.png' %}" style="height:100px; width: 100px;">
    </a>
    <a href="{% url 'portfolio:projects_dataviz' %}">
      <img src="{% static 'portfolio/images/projects/footer_right.png' %}" style="height:auto; width: 100px;">
    </a>
  </div>
</section>
{% endblock %}
