{% extends 'portfolio/projects_list.html' %}
{% load staticfiles %}
{% load i18n %}

{% block project_detail %}

<img src="{% static 'portfolio/images/projects/climate/header.png' %}" class="header_img" >
<img src="{% static 'portfolio/images/projects/climate/header.png' %}" class="header_img_shadow" >

<section id="project_climate" class="project_detail">
  <section class="project-header">
    <div class="font-size-18 grey-4a" style="font-weight: 400;">
      DASHBOARD DESIGN
    </div>
    <h1 class="grey-4a bold">Climate Monitor for North Africa</h1>
    <p>
      Communicate complex information with visualizations: Climate crisis and environment refugees in North Africa.
    </p>
  </section>

  <section class="abstract-container">
    <div class="abstract-left">
      <h4>BACKGROUND</h4>
      <p>
        This project is about designing a single screen non-interactive dashboard for raw data on North Africa environment and climate. The goal of the dashboard is to help policy makers understand the environment crisis of the region and the potential causes. How to clearly communicate complex information with visual graphs and simple animations are challenges of the design. 
      </p>
      <p>
        This project is a CMU class project for Interaction Design Studio.
      </p>
    </div>
    <div class="abstract-right">
      <div class="abstract-list">
        <h4>MY ROLE</h4> <span>&nbsp; 2017.03 - 2017.04 </span>
        <ul>
          <li>Graphic Designer</li>
          <li>Dashboard Designer</li>
        </ul>
      </div>

      <div class="abstract-list">
        <h4>SKILLS</h4>
        <ul>
          <li>Dashboard Design</li>
          <li>Animation</li>
          <li>Data Visualization</li>
          <li>Storytelling</li>
        </ul>
      </div>
    </div>
  </section>

  <div class="project-section">
    <div class="section-title-container">
      <div class="section-title-seq">
        1
      </div>
      <div class="section-title-right">
        <h2>DASHBOARD PREVIEW</h2>
        <div>How to communicate complex information</div>
      </div>
    </div>

    <p>
      A dashboard is a single screen display of dynamically changing information. People use them to monitor unfolding situations to adapt their behavior or take specific actions. Designers struggle to create dashboards so information can be understood at a glance, can be monitored with minimal attention, and can alert users to critical situations. To achieve these goals, I worked on the following aspects of visual storytelling:
    </p>

    <div class="bullet-point">Preprocessing complex information and narrative design</div>
    <div class="bullet-point">Eliminating extraneous information </div>
    <div class="bullet-point">Attract audiences’ attention to the point of interest</div>
    <div class="bullet-point">Present causality or associations in an intuitive way</div>

    <p>
      In this portfolio piece, I present a sample dashboard designed for climate and environment refugee monitoring. The dashboard focused on global.
    </p>


    <h3>DASHBOARD</h3>
    <p><strong>
      THE STORY:  CO2 leads to a rise in Temperature, which is the primary cause of increasing natural disasters, decreasing agricultural yields, and increasing climate refugees. 
    </strong></p>

    <p>
      This dashboard also shows the future impact on North Africa if no action is taken and should especially concern European leaders because of climate refugee migration across the Mediterranean.
    </p>

    <img src="{% static 'portfolio/images/projects/climate/dashboard_final.png' %}" class="img-responsive gap">  

    <h3>Animations</h3>

    <div class="flexbox left-right-layout" >
      <video 
        src="{% static 'portfolio/images/projects/climate/video1.mp4' %}" 
        class="img-responsive left rounded-border shadow" autoplay loop muted
        style="width: 50%; height: 100%;"
        >
      </video>
      <div class="textbox right" style="padding-left: 10%;">
        <strong>Version 1</strong>
        <p>
          Making the dashboard tell a story by itself can help policy makers understand how to use the dashboard at a glance. We used layout to show relationship between indicators.
        </p>
      </div>
    </div>


    <div class="flexbox left-right-layout gap" >
      <div class="textbox left" style="width: 100%;">
        <strong>Version 1</strong>
        <p>
          Making the dashboard tell a story by itself can help policy makers understand how to use the dashboard at a glance. We used layout to show relationship between indicators.
        </p>
      </div>
      <video 
        src="{% static 'portfolio/images/projects/climate/video2.mov' %}" 
        class="img-responsive right rounded-border shadow" autoplay loop muted
        style="width: 40%; height: 100%; margin-left: 10%;"
        >
      </video>
    </div>


    <div class="flexbox left-right-layout gap" >
      <video 
        src="{% static 'portfolio/images/projects/climate/video3.mov' %}" 
        class="img-responsive left rounded-border shadow" autoplay loop muted
        style="width: 50%; height: 100%;"
        >
      </video>
      <div class="textbox right" style="padding-left: 10%;">
        <strong>Version 1</strong>
        <p>
          Making the dashboard tell a story by itself can help policy makers understand how to use the dashboard at a glance. We used layout to show relationship between indicators.
        </p>
      </div>
    </div>
  </div>

  <div class="section-background" style="background-color: #F2F2F2;">
    <div class="project-section">
      <div class="section-title-container">
        <div class="section-title-seq">
          2
        </div>
        <div class="section-title-right">
          <h2>RESEARCH</h2>
          <div>From research to storytelling</div>
        </div>
      </div>

      <p>
        The early phase of dashboard design focused on identifying the main indicators of  climate crisis and refugee issues in order to choose elements for our dashboard.We chose our indicators based on our desk research and literature review on environmental issues. We decided the following factors as our indicators:
      </p>
      <p>
        <strong>
          Global CO2 emissions, Temperature, Drought, Sandstorms (incidents), Sea level, Agricultural yield and biodiversity, Refugee migration.
        </strong>
      </p>

      <p>For more information, view the 
        <a href="https://docs.google.com/presentation/d/1SjwpVqFR8gygFuwdw6GaQF0aoOLkpCbuxUIZsiwra2E/edit?usp=sharing"
          style="color: #08B3B3; font-weight: bold;"
          class="link-underline" target="_blank"
          >
          PROCESS REPORT
        </a>
      </p>
    </div>
  </div>

  <div class="project-section">
    <h3>DARRATIVE DESIGN</h3>

    <p>
      The early phase of dashboard design focused on identifying the main indicators of  climate crisis and refugee issues in order to choose elements for our dashboard.We chose our indicators based on our desk research and literature review on environmental issues. We decided the following factors as our indicators:
    </p>

    <img src="{% static 'portfolio/images/projects/climate/story.png' %}" 
      class="img-responsive flex-center gap" style="width: 80%;" >
  </div>

  <div class="project-section">
    <div class="section-title-container">
      <div class="section-title-seq">
        3
      </div>
      <div class="section-title-right">
        <h2>DESIGN</h2>
        <div>Iterate, Iterate, and Iterate</div>
      </div>
    </div>
  </div>

  <div class="project-section">
    <h3>Early Sketches on Dashboard Elements</h3>
  </div>
  <img src="{% static 'portfolio/images/projects/climate/sketches.png' %}" 
    class="img-responsive flex-center gap" style="width: 100%;" >
  <div class="project-section">
    <h3>Use Layout to Define Entry Point</h3>
    <p>
      Making the dashboard tell a story by itself can help policy makers understand how to use the dashboard at a glance. We used layout to show relationship between indicators. An entry point is placed on the left-hand side of the dashboard as people naturally read from left to right. Other data are used to support understanding state changes happen in entry point.
    </p>

    <img src="{% static 'portfolio/images/projects/climate/iteration1.png' %}" 
      class="img-responsive flex-center gap" style="width: 80%;" >

    <h3>Reduce Cognitive Load</h3>
    <p>
      Making the dashboard tell a story by itself can help policy makers understand how to use the dashboard at a glance. We used layout to show relationship between indicators. An entry point is placed on the left-hand side of the dashboard as people naturally read from left to right. Other data are used to support understanding state changes happen in entry point.
    </p>
  </div>

  <div class="section-background" style="background-color: #F2F2F2; padding: 32px 0;">
    <div class="project-section">
      <strong>Final Version</strong>
      <img src="{% static 'portfolio/images/projects/climate/dashboard_final.png' %}" 
        class="img-responsive flex-center"
        style="margin-top: 24px;"
        >
    </div>
  </div>

  <div class="section-background" style="padding: 32px 0;">
    <div class="project-section">
      <strong>Reduce Unnecessary information from the graph to argument perception.</strong>
    </div>
  </div>

  <img src="{% static 'portfolio/images/projects/climate/iteration2.png' %}" 
    class="img-responsive flex-center gap" style="width: 100%;" >

  <div class="section-background" style="background-color: #F2F2F2; padding: 32px 0;">
    <div class="project-section">
      <strong>Avoid "beautiful but useless" design.</strong>
      <img src="{% static 'portfolio/images/projects/climate/iteration3.png' %}" 
        class="img-responsive flex-center"
        style="margin-top: 24px;"
        >
     ng

    </div>
  </div>

  <div class="project-section">
    <h3>Make Interaction Between Indicators Intuitive</h3>
  </div>
  <img src="{% static 'portfolio/images/projects/climate/iteration4.png' %}" 
    class="img-responsive flex-center gap" style="width: 100%;" >

</section>

<section id="project_footer">
  <div id="footer_container">
    <a href="{% url 'portfolio:projects_dataviz' %}">
      <img src="{% static 'portfolio/images/projects/footer_left.png' %}" style="height:auto; width: 100px;">
    </a>
    <a href="{% url 'portfolio:index' %}">
      <img src="{% static 'portfolio/images/projects/footer_home.png' %}" style="height:100px; width: 100px;">
    </a>
    <a href="{% url 'portfolio:projects_dataviz' %}">
      <img src="{% static 'portfolio/images/projects/footer_right.png' %}" style="height:auto; width: 100px;">
    </a>
  </div>
</section>
{% endblock %}
