{% extends 'portfolio/base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block content %}

  <section id="research">
    <div class="container">
      <div class="box row">
        <div class="research-item" data-href="{% url 'portfolio:research1' %}">
          <div class="col-sm-6">
            <h3>
              <span>This is the research name</span>
            </h3>

            <div>
              <span>this is the research description. This research work is about a psychology analysis on procrastination.
              I'll analyze my behavior from several perspective:</span>
              <ol>
                <li><span>What is procrastination?</span></li>
                <li><span>What is the consequence of my procrastination?</span></li>
                <li><span>Why do I have this habitual procrastination?</span></li>
                <li><span>How to get rid of it?</span></li>
              </ol>
            </div>
          </div>
          <div class="col-sm-6 ">
            <img src="{% static 'portfolio/images/research/research1.jpg' %}" alt="research1"
                 class="img-responsive bcenter"/>
          </div>
        </div>
      </div>
      <div class="box row">
        <div class="col-sm-6">
          <h3>
            This is another research name
          </h3>

          <div>
            this is the research description. This research work is about a psychology analysis on procrastination.
            I'll analyze my behavior from several perspective:
            <ol>
              <li>What is procrastination?</li>
              <li>What is the consequence of my procrastination?</li>
              <li>Why do I have this habitual procrastination?</li>
              <li>How to get rid of it?</li>
            </ol>
          </div>
        </div>
        <div class="col-sm-6">
          <img src="{% static 'portfolio/images/research/research1.jpg' %}" alt="research1"
               class="img-responsive bcenter"/>
        </div>
      </div>
      <!--/.box-->
      <!--/.container-->
    </div>
  </section>
  <!--/#projects-->


{% endblock %}