#project_nav {
    position: sticky;
    top: 100px;
}

.project_nav {
	display:flex;
	flex-direction: column;
}

.nav-container li {
	list-style-type: none;
	padding: 8px 16px;
}

.nav-container li:hover, 
.nav-container li.active {
	background-color: #EEEEEE;
	border-radius: 8px;
}

.nav-container a {
	color: black;
}

.outline {
    margin: 20px 0px;
    padding: 20px 0px;
}

.outline ul {
	padding-left: 0;
}

.outline li {
	list-style-type: none;
	font-weight: 400;
}

.outline strong {
	margin-right: 4px;
}

.project_detail {
	font-family: 'Roboto', sans-serif;
}

.project_detail h1 {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
}

.project_detail h2 {
	color: #BB312C;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
}

.project_detail h3 {
	font-weight: 400;
	font-size: 20px;
	color: black;
}

#project_footer {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 24px 24px;
	margin-bottom: 24px;	
}

#project_footer a{
	color: black;
}

#project_footer a:hover {
	color: teal;
}

#footer_container {
	display: flex;
	justify-content: space-between;
	width: 50%;
}

.photo_description_side {
	flex-grow: 1;
	align-self: center;
	margin-left: 24px;
}

.back a {
	color: #BB312C;
	font-weight: bold;
	font-size: 18px;
}

.oversize_img {
	width: 133%;
	height: auto;
	float: right;
}

body.embed a.powered-by {
	visibility: hidden;
}

.headroom--unpinned {
	visibility: hidden;
}

.headroom--bottom {
	visibility: visible;
}

#project_tune h2,
#project_tune .back a {
	color: #FFD600;
}

#project_tune h3:before {
	content: " ";
	margin-right: 4px;
	border-left: 5px solid #FFD600;
}

#project_reneissance h2,
#project_reneissance .back a {
	color: #BB312C;
}

#project_renaissance h3:before {
	content: " ";
	margin-right: 4px;
	border-left: 5px solid #BB312C;
}

.header_img {
	width: 100%;
	height: auto;
	margin-bottom: 32px;
}