.project_nav {
	display:flex;
	flex-direction: column;
    top: 100px;
    position: fixed;
}

.nav-container li {
	list-style-type: none;
	padding: 8px 16px;
}

.nav-container li:hover, 
.nav-container li.active {
	background-color: #EEEEEE;
	border-radius: 8px;
}

.nav-container a {
	color: black;
}

#projects {
	margin-top: 32px;
}

.outline {
    margin: 20px 0px;
    padding: 20px 0px;
}

.outline ul {
	padding-left: 0;
}

.outline li {
	list-style-type: none;
	font-weight: 400;
}

.outline strong {
	margin-right: 4px;
}

#project_detail {
	font-family: 'Roboto', sans-serif;
}

#project_detail h1 {
	font-size: 24px;
	font-weight: bold;
	font-family: 'Roboto Condensed', sans-serif;
	color: black;
}

#project_detail h2 {
	color: #FFd600;
	font-size: 24px;
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: bold;
}

#project_detail h3 {
	font-weight: 400;
	font-size: 24px;
	color: black;
}

#project_detail h3:before {
	content: "|";
	color: #FFD600;
	margin-right: 4px;
	font-weight: bolder;
	font-size: 24px;
}

#project_footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 24px;
}

#project_footer a{
	color: black;
}

#project_footer a:hover {
	color: teal;
}