.font-size-18{
  font-size: 18px;
}

.grey-4a {
  color: #4A4A4A;
}

.bold {
  font-weight: bold;
}

.margin-top-big {
	margin-top: 64px;
}

.margin-top-medium {
	margin-top: 48px;
}

.gap {
	margin-top: 48px;
	margin-bottom: 48px;
}

.big-gap {
    margin-bottom: 100px;
}

.color-red {
	background-color: #D0021B;
}

.rounded-border {
	border-radius: 4px;
}

.shadow {
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}